@model List<bd.webapprm.entidades.Empleado>

@{
    ViewData["Title"] = "Empleado";
}

<div id="content">
    <p>
        <a asp-action="Create" class="btn btn-success">Nuevo Empleado</a>
    </p>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Empleados</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Apellidos
                                        </th>
                                        <th>
                                            Fecha de ingreso
                                        </th>
                                        <th>
                                            Fecha de ingreso al sector p&uacute;blico
                                        </th>
                                        <th>
                                            &#191;Trabaj&oacute; en la Superintendencia de Instituciones Financieras?
                                        </th>
                                        <th>
                                            Nepotismo
                                        </th>
                                        <th>
                                            &#191;Declaraci&oacute;n jurada?
                                        </th>
                                        <th>
                                            Ingreso por otra actividad
                                        </th>
                                        <th>
                                            Mesees de imposici&oacute;n
                                        </th>
                                        <th>
                                            D&iacute;as de imposici&oacute;n
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Persona.Nombres)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Persona.Apellidos)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaIngreso)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaIngresoSectorPublico)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.TrabajoSuperintendenciaBanco)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nepotismo)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeclaracionJurada)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.IngresosOtraActividad)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.MesesImposiciones)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.DiasImposiciones)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.IdEmpleado }) |
                                                <a href="javascript:void(0);" id="@item.IdEmpleado" onclick="abrirVentanaConfirmacion('@item.IdEmpleado')" data-url="@Url.Action("Delete", values: new { id = item.IdEmpleado })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar el Empleado... ?">Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}
