@model List<bd.webapprm.entidades.MaestroDetalleArticulo>

<div id="content">
    <p>
        <a asp-action="Create" class="btn btn-success">Nuevo Detalle de Maestro Art&iacute;culo</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Listado de Detalles de los Maestros de Art&iacute;culo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdMaestroDetalleArticulo)
                                        </th>
                                        <th>
                                            Art&iacute;culo
                                        </th>
                                        <th>
                                            M&iacute;nimo
                                        </th>
                                        <th>
                                            M&aacute;ximo
                                        </th>                                        
                                        <th>
                                            Cantidad
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => item.IdMaestroDetalleArticulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Articulo.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaestroArticuloSucursal.Minimo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaestroArticuloSucursal.Maximo)
                                            </td>                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cantidad)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.IdMaestroDetalleArticulo }) |
                                                <a href="javascript:void(0);" id="@item.IdMaestroDetalleArticulo" onclick="abrirVentanaConfirmacion('@item.IdMaestroDetalleArticulo')" data-url="@Url.Action("Delete", values: new { id = item.IdMaestroDetalleArticulo })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar el Detalle de Maestro de Art&iacute;culo seleccionado... ?">Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/init.min.js'></script>
}
