@model bd.webapprm.entidades.ActivoFijo
<style>
    .fc-border-separate thead tr, .table thead tr{font-size:14px !important;}
</style>
<fieldset>
    <legend>Clasificaci&oacute;n</legend>
    <table id="tbReporteHojaVidaActivo" class="table table-hover">
        <thead>
            <tr>
                <th style="width:50%">Propiedad</th>
                <th style="width:50%">Descripci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="javascript:void(0);"><label asp-for="SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="SubClaseActivoFijo.ClaseActivoFijo.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.SubClaseActivoFijo.ClaseActivoFijo.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="SubClaseActivoFijo.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.SubClaseActivoFijo.Nombre)</td>
            </tr>
        </tbody>
    </table>

    <legend>Distribuci&oacute;n</legend>
    <table class="table table-hover margin-top-25">
        <thead>
            <tr>
                <th style="width:50%">Propiedad</th>
                <th style="width:50%">Descripci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.LibroActivoFijo.Sucursal.Ciudad.Provincia.Pais.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.LibroActivoFijo.Sucursal.Ciudad.Provincia.Pais.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.LibroActivoFijo.Sucursal.Ciudad.Provincia.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.LibroActivoFijo.Sucursal.Ciudad.Provincia.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.LibroActivoFijo.Sucursal.Ciudad.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.LibroActivoFijo.Sucursal.Ciudad.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.LibroActivoFijo.Sucursal.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.LibroActivoFijo.Sucursal.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.IdLibroActivoFijo"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoActual.IdLibroActivoFijo)</td>
            </tr>*@
        </tbody>
    </table>

    <legend>Datos Generales</legend>
    <table class="table table-hover margin-top-25">
        <thead>
            <tr>
                <th style="width:50%">Propiedad</th>
                <th style="width:50%">Descripci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.MotivoAlta.Descripcion"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.MotivoAlta.Descripcion)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.Proveedor"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.Proveedor.RazonSocial)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.FondoFinanciamiento"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.FondoFinanciamiento.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.FechaRecepcion"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.FechaRecepcion)</td>
            </tr>

            @*<tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.Cantidad"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.Cantidad)</td>
            </tr>*@

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="Modelo.Marca.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.Modelo.Marca.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="Modelo.Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.Modelo.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="Nombre"></label></a></td>
                <td>@Html.DisplayFor(m => m.Nombre)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="ValorCompra"></label></a></td>
                <td>@Html.DisplayFor(m => m.ValorCompra)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.OrdenCompra"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.OrdenCompra)</td>
            </tr>

            <tr>
                <td><a href="javascript:void(0);"><label asp-for="Depreciacion"></label></a></td>
                <td>@Html.DisplayFor(m => m.Depreciacion)</td>
            </tr>

            @*<tr>
                <td><a href="javascript:void(0);"><label asp-for="RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.ValidacionTecnica"></label></a></td>
                <td>@Html.DisplayFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.ValidacionTecnica)</td>
            </tr>*@
        </tbody>
    </table>

    <legend>Codificaci&oacute;n</legend>
    <table class="table table-hover margin-top-25">
        <thead>
            <tr>
                <th style="width:50%">@Html.DisplayNameFor(m=> m.RecepcionActivoFijoDetalle.FirstOrDefault().IdCodigoActivoFijo)</th>
                <th style="width:50%">@Html.DisplayNameFor(m => m.RecepcionActivoFijoDetalle.FirstOrDefault().CodigoActivoFijo.CodigoBarras)</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.RecepcionActivoFijoDetalle)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.CodigoActivoFijo.Codigosecuencial)</td>
                        <td>
                            <img class="imgBarCode" id="barcode_@item.IdCodigoActivoFijo" data-idrecepcionactivofijodetalle="@item.IdCodigoActivoFijo" data-codigosecuencial="@item.CodigoActivoFijo.Codigosecuencial" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</fieldset>