@model List<InventarioActivoFijo>

<table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
    <thead>
        @{await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 6);}
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().NumeroInforme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FechaCorteInventario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FechaInforme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().IdEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().InventarioManual)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroInforme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCorteInventario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInforme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nombre)
                </td>
                <td>
                    @{await ViewContext.Writer.WriteAsync(item.InventarioManual ? "Manual" : "Autom\u00E1tico");}
                </td>
                <td>
                    
                    @{
                        if (item.InventarioManual)
                        {
                            <a asp-action="DetallesInventarioManual" asp-route-id="@item.IdInventarioActivoFijo">Detalles</a>
                        }
                        else
                        {
                            <a asp-action="DetallesInventarioAutomatico" asp-route-id="@item.IdInventarioActivoFijo">Detalles</a>
                        }
                        if (item.Estado.Nombre == Estados.EnEjecucion)
                        {
                            <span> | </span>
                            <a asp-action="@String.Format("{0}", item.InventarioManual ? "GestionarInventarioManual" : "GestionarInventarioAutomatico")" asp-route-id="@item.IdInventarioActivoFijo">Editar</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>