@model List<bd.webapprm.entidades.RecepcionActivoFijoDetalle>
@{
    bd.webapprm.entidades.RecepcionActivoFijoDetalle rafd = new bd.webapprm.entidades.RecepcionActivoFijoDetalle();
    rafd = ViewBag.objeto as bd.webapprm.entidades.RecepcionActivoFijoDetalle;

    ICollection<bd.webapprm.entidades.ActivosFijosAdicionados> ActivosFijosAdicionados = rafd.ActivoFijo.ActivosFijosAdicionados;

    List<bd.webapprm.entidades.RecepcionActivoFijoDetalle> listaComponentesAdicionados = new List<bd.webapprm.entidades.RecepcionActivoFijoDetalle>();

    foreach (var item in ActivosFijosAdicionados)
    {
        bd.webapprm.entidades.RecepcionActivoFijoDetalle RecepcionActivoFijoDetalle = new bd.webapprm.entidades.RecepcionActivoFijoDetalle();
        RecepcionActivoFijoDetalle = Model.Where(c => c.IdActivoFijo == item.idActivoFijoDestino).SingleOrDefault();

        listaComponentesAdicionados.Add(RecepcionActivoFijoDetalle);
    }
    
    List<bd.webapprm.entidades.ActivosFijosAdicionados> listaAFADD = new List<bd.webapprm.entidades.ActivosFijosAdicionados>();
    listaAFADD = ViewBag.listaActivosFijosAdicionados != null ? ViewBag.listaActivosFijosAdicionados as List<bd.webapprm.entidades.ActivosFijosAdicionados> : null;

    //List<bd.webapprm.entidades.ActivosFijosAdicionados> listaAFADDAFA = new List<bd.webapprm.entidades.ActivosFijosAdicionados>();
    //listaAFADDAFA = ViewBag.listaActivosFijosAdicionados != null ? ViewBag.listaActivosFijosAdicionadosADD as List<bd.webapprm.entidades.ActivosFijosAdicionados> : null;
}

<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Adicionar componentes a un Activo Fijo</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <form asp-action="Adicionar" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <div class="row">                                        
                                        @*<input type="hidden" asp-for="IdRecepcionActivoFijoDetalle" />*@
                                        <section class="col col-4">
                                            <h1><label>Activo Fijo: @rafd.ActivoFijo.Nombre</label></h1>
                                        </section>
                                    </div>                                 
                                </fieldset>
                                <fieldset>
                                    <div class="row">   
                                        <section class="col col-4">
                                            <label>Listado de los Activos a Adicionar</label>
                                        </section>
                                        <section class="col col-lg-12">                                            
                                            <table id="" class="table table-striped table-bordered table-hover" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Activo Fijo
                                                        </th>
                                                        <th>
                                                            Tipo
                                                        </th>
                                                        <th>
                                                            Clase
                                                        </th>
                                                        <th>
                                                            Sub Clase
                                                        </th>
                                                        <th>
                                                            Fecha de Registro
                                                        </th>
                                                        <th>
                                                            Proveedor
                                                        </th>
                                                        <th>
                                                            Opciones
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        bool siEsta = false;

                                                        foreach (var itemAdd in listaAFADD)
                                                        {
                                                            if (item.IdActivoFijo == itemAdd.idActivoFijoDestino)
                                                            {
                                                                siEsta = true;
                                                                break;
                                                            }
                                                        }

                                                        if (!siEsta)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.ActivoFijo.Nombre)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.Nombre)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.Nombre)
                                                                </td>

                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.FechaRecepcion)
                                                                </td>

                                                                <td>
                                                                    @{ await ViewContext.Writer.WriteAsync(String.Format("{0} {1}", item.RecepcionActivoFijo.Proveedor.Nombre, item.RecepcionActivoFijo.Proveedor.Apellidos)); }
                                                                </td>                                                                
                                                                <td>
                                                                    @Html.ActionLink("Adicionar", "AdicionarActivo", new { id = item.IdActivoFijo, id1 = rafd.IdActivoFijo, id2 = rafd.IdRecepcionActivoFijoDetalle })
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>                                                        
                                        </section>
                                        
                                    </div>
                                </fieldset>

                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
</div>

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Listado de Activos Fijos Adicionados a @rafd.ActivoFijo.Nombre</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Activo Fijo
                                        </th>
                                        <th>
                                            Tipo
                                        </th>
                                        <th>
                                            Clase
                                        </th>
                                        <th>
                                            Sub Clase
                                        </th>
                                        <th>
                                            Fecha de Registro
                                        </th>
                                        <th>
                                            Proveedor
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listaComponentesAdicionados)
                                    {
                                        bd.webapprm.entidades.ActivosFijosAdicionados objAdicion = new bd.webapprm.entidades.ActivosFijosAdicionados() ;

                                        if (listaAFADD.Count > 0)
                                        {
                                            objAdicion = listaAFADD.Where(c => c.idActivoFijoOrigen == rafd.IdActivoFijo && c.idActivoFijoDestino == item.IdActivoFijo).SingleOrDefault();
                                        }
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ActivoFijo.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.FechaRecepcion)
                                            </td>

                                            <td>
                                                @{ await ViewContext.Writer.WriteAsync(String.Format("{0} {1}", item.RecepcionActivoFijo.Proveedor.Nombre, item.RecepcionActivoFijo.Proveedor.Apellidos)); }
                                            </td>                                               
                                            <td>
                                                @Html.ActionLink("Quitar", "EliminarActivoAdicionado", new { idAdicion = @objAdicion.idAdicion, id2 = rafd.IdRecepcionActivoFijoDetalle })
                                            </td>
                                            <td>
                                                @objAdicion.idAdicion
                                            </td>
                                        </tr>                                                          
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section>
        <button class="btn btn-warning"><i class="fa fa-file-text-o"></i> Generar Acta de Entrega</button>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}