@model List<bd.webapprm.entidades.RecepcionActivoFijoDetalle>
<style>
    .div_mostrarOcultar:hover{cursor:pointer;}
</style>
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Reportes</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div class="padding-10">
                                <br>
                                <div class="pull-left">
                                    <h1 style="font-size:260% !important;"><i class="fa fa-file-text-o"></i> Bienes por &aacute;rea usuaria y clasificado por funcionario</h1>
                                </div>
                                <div class="pull-right">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>
                                                <div class="font-md">
                                                    <strong>Fecha:&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                                                    <span class="pull-right"> <i class="fa fa-calendar"></i>&nbsp;&nbsp;@DateTime.Now.ToString("dd/MM/yyyy hh:mm tt") </span>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="well well-sm  bg-color-darken txt-color-white no-border">
                                                <div class="fa-lg">
                                                    Total de Activos Fijos:
                                                    <span class="pull-right"> @Model.Count </span>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <table class="table table-hover" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>
                                                Tipo
                                            </th>
                                            <th>
                                                Clase
                                            </th>
                                            <th>
                                                Sub Clase
                                            </th>
                                            <th>
                                                Fecha de Registro
                                            </th>
                                            <th>
                                                Proveedor
                                            </th>
                                            <th>
                                                Activo Fijo
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="div_mostrarOcultar" style="width:20px;height:20px;border:1px solid black;" onclick="mostrarOcultar(@item.IdRecepcionActivoFijoDetalle)">
                                                        <i class="fa fa-plus" style="position:relative;left:4px;top:-1px;"></i>
                                                    </div>
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.Nombre)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.Nombre)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.FechaRecepcion)
                                                </td>

                                                <td>
                                                    @{ await ViewContext.Writer.WriteAsync(String.Format("{0} {1}", item.RecepcionActivoFijo.Proveedor.Nombre, item.RecepcionActivoFijo.Proveedor.Apellidos)); }
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ActivoFijo.Nombre)
                                                </td>
                                            </tr>

                                            <tr id="trHojaVida_@item.IdRecepcionActivoFijoDetalle" style="display:none;">
                                                <td colspan="7">
                                                    @{ await Html.RenderPartialAsync("_HojaVidaActivo", item); }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                                <div class="invoice-footer">
                                    <div class="row">
                                        <div class="col-sm-7"></div>
                                        <div class="col-sm-5">
                                            <div class="invoice-sum-total pull-right">
                                                <h3><strong>Total de Activos Fijos: <span class="text-success">@Model.Count</span></strong></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts{
    <script src='~/js/activoFijo/reportes.js'></script>
}