@model RecepcionActivoFijoDetalle
@{ 
    bool isBodega = ViewBag.IsBodega ?? true;
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/css/activoFijo/recepcion.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tableSmartForm.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Reportes</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8 text-align-right">
                                        <form asp-action="ExportarExcelBienesReporte" id="checkout-form" class="smart-form noFormLoading" novalidate="novalidate">
                                            <input type="hidden" id="isBodega" name="isBodega" />
                                            <input type="hidden" id="idBodegaEmpleado" name="idBodegaEmpleado" />
                                            <button type="submit" class="btn btn-primary padding-7" id="btn-guardar"><i class="fa fa-print"></i> Imprimir Bienes por ubicaci&oacute;n f&iacute;sica y bodega</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="padding-10">
                                <br>
                                <div class="pull-left">
                                    <h3 class="margin-top-0" style="font-size:212% !important;"><i class="fa fa-file-text-o"></i> Bienes por ubicaci&oacute;n f&iacute;sica y bodega</h3>
                                </div>
                                <div class="clearfix"></div>
                                <div class="smart-form padding-top-0">
                                    <fieldset>
                                        <legend>Ubicaci&oacute;n</legend>
                                        <section>
                                            <div class="inline-group">
                                                <label class="radio">
                                                    <input type="radio" name="radio-inline" id="radioBodegaDatosEspecificos" data-ubicacion="Bodega" class="radioDatosEspecificos" @String.Format("{0}", isBodega ? "checked=checked" : "")>
                                                    <i></i>@Html.DisplayNameFor(model => model.UbicacionActivoFijoActual.IdBodega)
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="radio-inline" id="radioEmpleadoDatosEspecificos" data-ubicacion="Empleado" class="radioDatosEspecificos" @String.Format("{0}", !isBodega ? "checked=checked" : "")>
                                                    <i></i>@Html.DisplayNameFor(model => model.UbicacionActivoFijoActual.IdEmpleado)
                                                </label>
                                            </div>
                                        </section>

                                        <div class="row margin-top-10">
                                            <section class="col col-2">
                                                <label>@Html.DisplayNameFor(model => model.UbicacionActivoFijoActual.Bodega.IdSucursal)</label>
                                            </section>

                                            <section class="col col-6">
                                                <label class="input">
                                                    <select class="form-control" asp-items="ViewBag.Sucursal" disabled="disabled"></select>
                                                </label>
                                            </section>
                                        </div>

                                        <div id="divDatosEspecificosBodega" class="row @String.Format("{0}", !isBodega ? "hide" : "")">
                                            <section class="col col-2">
                                                <label>@Html.DisplayNameFor(model => model.UbicacionActivoFijoActual.IdBodega)</label>
                                            </section>

                                            <section class="col col-6">
                                                <label class="input">
                                                    <select id="IdBodega" class="form-control" asp-items="ViewBag.Bodega"></select>
                                                </label>
                                            </section>
                                        </div>

                                        <div id="divDatosEspecificosEmpleado" class="row  @String.Format("{0}", isBodega ? "hide" : "")">
                                            <section class="col col-2">
                                                <label>@Html.DisplayNameFor(model => model.UbicacionActivoFijoActual.IdEmpleado)</label>
                                            </section>

                                            <section class="col col-6">
                                                <label class="input">
                                                    <select id="IdEmpleado" class="form-control" asp-items="ViewBag.Empleado"></select>
                                                </label>
                                            </section>
                                        </div>

                                        <div id="divDetallesActivosFijos"></div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts{
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/listadoAgrupacion.min.js"></script>
    <script src="~/js/activoFijo/reporteBienes.min.js"></script>
    <script>
        var urlListadoActivosFijosBodegaEmpleadoResult = "@Url.Action("AFBodegaEmpleadoResult")";
    </script>
}