@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
@{
    var ubicacionActivoFijo = ViewBag.UbicacionActivoFijo as bd.webapprm.entidades.UbicacionActivoFijo ?? new bd.webapprm.entidades.UbicacionActivoFijo();
}

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/lib/jquery.spinner-master/dist/css/bootstrap-spinner.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/activoFijo/recepcion.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tableSmartForm.min.css" />
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Recepci&oacute;n de Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="@ViewData["AccionVistaEditar"]" id="checkout-form" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdRecepcionActivoFijoDetalle" />
                                <input type="hidden" asp-for="IdRecepcionActivoFijo" />
                                <input type="hidden" asp-for="IdActivoFijo" />
                                <input type="hidden" asp-for="ActivoFijo.CodigoActivoFijo.IdCodigoActivoFijo" />
                                <input type="hidden" asp-for="ActivoFijo.CodigoActivoFijo.CodigoBarras" />
                                <input type="hidden" asp-for="ActivoFijo.CodigoActivoFijo.Codigosecuencial" />
                                <fieldset>
                                    <div class="widget-body fuelux">
                                        <div class="wizard">
                                            <ul class="steps">
                                                <li data-target="#step1" class="active">
                                                    <span class="badge badge-info" style="padding:3px 4px !important;">1</span>Datos Generales<span class="chevron"></span>
                                                </li>
                                                <li data-target="#step2">
                                                    <span class="badge badge-info" style="padding:3px 4px !important;">2</span>Datos Espec&Iacute;ficos<span class="chevron"></span>
                                                </li>
                                                <li data-target="#step3">
                                                    <span class="badge badge-info" style="padding:3px 4px !important;">3</span>P&oacute;liza de Seguro<span class="chevron"></span>
                                                </li>
                                            </ul>
                                            <div class="actions">
                                                <button type="button" class="btn btn-sm btn-primary btn-prev" disabled="disabled" id="btn-atras"><i class="fa fa-arrow-left"></i>Atr&aacute;s</button>
                                                <button type="button" class="btn btn-sm btn-success btn-next" data-last="Guardar" id="btn-guardar">Siguiente<i class="fa fa-arrow-right"></i></button>
                                            </div>
                                        </div>
                                        <div class="step-content" style="margin-top:15px;">
                                            <div id="fuelux-wizard">
                                                <div class="step-pane active" id="step1">
                                                    <fieldset>
                                                        <legend>Clasificaci&oacute;n</legend>
                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="ActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <select asp-for="ActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.IdTipoActivoFijo" class="form-control" asp-items="ViewBag.TipoActivoFijo"></select>
                                                                    <span asp-validation-for="ActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.IdTipoActivoFijo" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="ActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.Nombre"></label>
                                                            </section>

                                                            <div id="div_claseActivoFijo">
                                                                @{ await Html.RenderPartialAsync("_ClaseActivoFijoSelect", Model); }
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="ActivoFijo.SubClaseActivoFijo.Nombre"></label>
                                                            </section>

                                                            <div id="div_subClaseActivoFijo">
                                                                @{ await Html.RenderPartialAsync("_SubClaseActivoFijoSelect", Model); }
                                                            </div>
                                                        </div>

                                                        <legend>Distribuci&oacute;n</legend>

                                                        <div class="row margin-top-25">
                                                            <section class="col col-4">
                                                                <label>@Html.LabelFor(c => ubicacionActivoFijo.LibroActivoFijo.Sucursal.Nombre)</label>
                                                            </section>

                                                            <div id="div_sucursal">
                                                                @{ await Html.RenderPartialAsync("_SucursalSelect", ubicacionActivoFijo); }
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label>@Html.LabelFor(c => ubicacionActivoFijo.IdLibroActivoFijo)</label>
                                                            </section>

                                                            <div id="div_libroActivoFijo">
                                                                @{ await Html.RenderPartialAsync("_LibroActivoFijoSelect", ubicacionActivoFijo); }
                                                            </div>
                                                        </div>

                                                        <legend>Datos Generales</legend>
                                                        <div class="row margin-top-25">
                                                            <section class="col col-4">
                                                                <label asp-for="RecepcionActivoFijo.IdMotivoRecepcion"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <select asp-for="RecepcionActivoFijo.IdMotivoRecepcion" class="form-control" asp-items="ViewBag.MotivoRecepcion"></select>
                                                                    <span asp-validation-for="RecepcionActivoFijo.IdMotivoRecepcion" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="RecepcionActivoFijo.IdProveedor"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <select asp-for="RecepcionActivoFijo.IdProveedor" class="form-control" asp-items="ViewBag.Proveedor"></select>
                                                                    <span asp-validation-for="RecepcionActivoFijo.IdProveedor" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="RecepcionActivoFijo.IdFondoFinanciamiento"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <select asp-for="RecepcionActivoFijo.IdFondoFinanciamiento" class="form-control" asp-items="ViewBag.FondoFinanciamiento"></select>
                                                                    <span asp-validation-for="RecepcionActivoFijo.IdFondoFinanciamiento" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="RecepcionActivoFijo.FechaRecepcion"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <input asp-for="RecepcionActivoFijo.FechaRecepcion" class="form-control" />
                                                                    <span asp-validation-for="RecepcionActivoFijo.FechaRecepcion" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="RecepcionActivoFijo.Cantidad"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <div class="input-group spinner spinnerCantidad" data-trigger="spinner">
                                                                    <input asp-for="RecepcionActivoFijo.Cantidad" type="text" class="form-control" data-rule="quantity" style="padding-left:10px !important;" />
                                                                    <div class="input-group-addon" style="padding-left:23px !important;">
                                                                        <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                                                                        <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                                                                    </div>
                                                                </div>
                                                                <span asp-validation-for="RecepcionActivoFijo.Cantidad" class="text-danger"></span>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="ActivoFijo.Modelo.Marca.Nombre"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <select asp-for="ActivoFijo.Modelo.IdMarca" class="form-control" asp-items="ViewBag.Marca"></select>
                                                                    <span asp-validation-for="ActivoFijo.Modelo.IdMarca" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="ActivoFijo.Modelo.Nombre"></label>
                                                            </section>

                                                            <div id="div_modelo">
                                                                @{ await Html.RenderPartialAsync("_ModeloSelect", Model); }
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="ActivoFijo.Nombre"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <input asp-for="ActivoFijo.Nombre" class="form-control" />
                                                                    <span asp-validation-for="ActivoFijo.Nombre" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="ActivoFijo.ValorCompra"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <input asp-for="ActivoFijo.ValorCompra" class="form-control touchspin_tasa" />
                                                                    <span asp-validation-for="ActivoFijo.ValorCompra" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="RecepcionActivoFijo.OrdenCompra"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="input">
                                                                    <textarea asp-for="RecepcionActivoFijo.OrdenCompra" class="form-control paddingTextArea97"></textarea>
                                                                    <span asp-validation-for="RecepcionActivoFijo.OrdenCompra" class="text-danger"></span>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="ActivoFijo.Depreciacion"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="toggle" style="float:left;padding-right:50px !important;">
                                                                    <input type="checkbox" name="checkbox-toggle" asp-for="ActivoFijo.Depreciacion" checked="checked">
                                                                    <i data-swchon-text="SI" data-swchoff-text="NO"></i>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-4">
                                                                <label asp-for="RecepcionActivoFijo.ValidacionTecnica"></label>
                                                            </section>

                                                            <section class="col col-8">
                                                                <label class="toggle" style="float:left;padding-right:50px !important;">
                                                                    <input type="checkbox" name="checkbox-toggle" asp-for="RecepcionActivoFijo.ValidacionTecnica">
                                                                    <i data-swchon-text="SI" data-swchoff-text="NO"></i>
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <legend>Documentaci&oacute;n Adicional</legend>
                                                        <div class="row margin-top-25">
                                                            <section class="col col-12 width100">
                                                                <input type="file" id="file" name="file" multiple="multiple" />
                                                            </section>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <div class="step-pane" id="step2">
                                                    @{ await Html.RenderPartialAsync("_DatosEspecificos", ViewBag.ListadoRecepcionActivoFijoDetalle as List<RecepcionActivoFijoDetalle>); }
                                                </div>
                                                <div class="step-pane" id="step3">
                                                    <div class="row margin-top-25">
                                                        <section class="col col-4">
                                                            <label asp-for="ActivoFijo.PolizaSeguroActivoFijo.Subramo.Ramo.Nombre"></label>
                                                        </section>

                                                        <section class="col col-8">
                                                            <label class="input">
                                                                <select asp-for="ActivoFijo.PolizaSeguroActivoFijo.Subramo.IdRamo" class="form-control" asp-items="ViewBag.Ramo"></select>
                                                                <span asp-validation-for="ActivoFijo.PolizaSeguroActivoFijo.Subramo.IdRamo" class="text-danger"></span>
                                                            </label>
                                                        </section>
                                                    </div>

                                                    <div class="row">
                                                        <section class="col col-4">
                                                            <label asp-for="ActivoFijo.PolizaSeguroActivoFijo.Subramo.Nombre"></label>
                                                        </section>

                                                        <div id="div_subramo">
                                                            @{ await Html.RenderPartialAsync("_SubramoSelect", Model); }
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <section class="col col-4">
                                                            <label asp-for="ActivoFijo.PolizaSeguroActivoFijo.CompaniaSeguro.Nombre"></label>
                                                        </section>

                                                        <section class="col col-8">
                                                            <label class="input">
                                                                <select asp-for="ActivoFijo.PolizaSeguroActivoFijo.IdCompaniaSeguro" class="form-control" asp-items="ViewBag.CompaniaSeguro"></select>
                                                                <span asp-validation-for="ActivoFijo.PolizaSeguroActivoFijo.IdCompaniaSeguro" class="text-danger"></span>
                                                            </label>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <footer>
                                    <span class="text-danger" id="spanError">@ViewData["Error"]</span>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_WizardScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='~/lib/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.js'></script>
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    <script src='~/lib/jquery.spinner-master/dist/js/jquery.spinner.min.js'></script>
    @{await Html.RenderPartialAsync("_FileInputScriptsPartial");}
    <script src='~/js/activoFijo/recepcion.min.js'></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src='~/js/activoFijo/componentes.min.js'></script>
    <script>
        var urlEliminarActivoFijo = "@Url.Action("EliminarArchivo")";
        var urlModeloSelectResult = "@Url.Action("Modelo_SelectResult")";
        var provinciaSelectResult = "@Url.Action("Provincia_SelectResult")";
        var ciudadSelectResult = "@Url.Action("Ciudad_SelectResult")";
        var sucursalSelectResult = "@Url.Action("Sucursal_SelectResult")";
        var libroActivoFijoSelectResult = "@Url.Action("LibroActivoFijo_SelectResult")";
        var claseActivoFijoSelectResult = "@Url.Action("ClaseActivoFijo_SelectResult")";
        var subClaseActivoFijoSelectResult = "@Url.Action("SubClaseActivoFijo_SelectResult")";
        var urlSubramoSelectResult = "@Url.Action("Subramo_SelectResult")";
        var urlModalDatosEspecificosResult = "@Url.Action("ModalDatosEspecificosResult")";
        var urlValidacionDatosEspecificosResult = "@Url.Action("ValidacionDatosEspecificosResult")";
        var urlModalComponentesResult = "@Url.Action("ModalComponentesResult")";
        var urlComponentesActivosFijos = "@Url.Action("ComponentesActivosFijosResult")";
        var isEditar = true;
    </script>
}
