@model MovilizacionActivoFijo
@{
    List<RecepcionActivoFijoDetalleSeleccionado> listadoRecepcionActivoFijoDetalleSeleccionado = ViewBag.ListadoRecepcionActivoFijoDetalleSeleccionado;
    bool isVistaDetalles = ViewBag.IsVistaDetalles ?? false;
}

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tableSmartForm.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/activoFijo/xEditable.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        @{ 
                            if (isVistaDetalles)
                            {
                                <h2>Detalles de movilizaci&oacute;n de activos fijos</h2>
                            }
                            else
                            {
                                <h2>Movilizaci&oacute;n de activos fijos</h2>
                            }
                        }
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="GestionarMovilizacion" id="checkout-form" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{
                                    if (Model != null)
                                    {
                                        <input type="hidden" asp-for="IdMovilizacionActivoFijo" />
                                    }
                                }
                                <fieldset>
                                    <legend>Datos generales</legend>
                                    @{ 
                                        if (isVistaDetalles)
                                        {
                                            <table class="table table-hover">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="FechaSalida" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.FechaSalida)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="FechaRetorno" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.FechaRetorno)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="IdMotivoTraslado" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.MotivoTraslado.Descripcion)</td>
                                                    </tr>
                                                </tbody>
											</table>

                                            <legend>Datos de empleados</legend>
                                            <table class="table table-hover margin-top-25">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="IdEmpleadoResponsable" class="negrita"></label></td>
                                                        <td>@{await ViewContext.Writer.WriteAsync($"{Model.EmpleadoResponsable.Persona.Nombres} {Model.EmpleadoResponsable.Persona.Apellidos}");}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="IdEmpleadoSolicita" class="negrita"></label></td>
                                                        <td>@{await ViewContext.Writer.WriteAsync($"{Model.EmpleadoSolicita.Persona.Nombres} {Model.EmpleadoSolicita.Persona.Apellidos}");}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="IdEmpleadoAutorizado" class="negrita"></label></td>
                                                        <td>@{await ViewContext.Writer.WriteAsync($"{Model.EmpleadoAutorizado.Persona.Nombres} {Model.EmpleadoAutorizado.Persona.Apellidos}");}</td>
                                                    </tr>
                                                </tbody>
											</table>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="FechaSalida"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <input asp-for="FechaSalida" class="form-control" />
                                                        <span asp-validation-for="FechaSalida" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="FechaRetorno"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <input asp-for="FechaRetorno" class="form-control" />
                                                        <span asp-validation-for="FechaRetorno" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="IdMotivoTraslado"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <select asp-for="IdMotivoTraslado" class="form-control" asp-items="ViewBag.MotivoTraslado"></select>
                                                        <span asp-validation-for="IdMotivoTraslado" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <legend>Datos de empleados</legend>
                                            <div class="row margin-top-25">
                                                <section class="col col-4">
                                                    <label asp-for="IdEmpleadoResponsable"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <select asp-for="IdEmpleadoResponsable" class="form-control" asp-items="ViewBag.Empleado"></select>
                                                        <span asp-validation-for="IdEmpleadoResponsable" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="IdEmpleadoSolicita"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <select asp-for="IdEmpleadoSolicita" class="form-control" asp-items="ViewBag.Empleado"></select>
                                                        <span asp-validation-for="IdEmpleadoSolicita" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="IdEmpleadoAutorizado"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <select asp-for="IdEmpleadoAutorizado" class="form-control" asp-items="ViewBag.Empleado"></select>
                                                        <span asp-validation-for="IdEmpleadoAutorizado" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>
                                        }
                                    }

                                    <legend>Activos Fijos autorizados</legend>
                                    @{ 
                                        if (!isVistaDetalles)
                                        {
                                            <p class="margin-top-10">
                                                <button type="button" class="btn btn-primary" style="padding:7px !important;margin-left:7px !important;" onclick="cargarListadoActivosFijosParaSeleccion(this)" data-funcioncallback="callBackInicializarTableListadoSeleccion" id="btnAdicionarActivosFijos">Adicionar / Eliminar Activos Fijos</button>
                                            </p>
                                        }
                                    }
                                    @{await Html.RenderPartialAsync("_ListadoDetallesActivosFijos", listadoRecepcionActivoFijoDetalleSeleccionado);}
                                </fieldset>
                                <footer>
                                    @{
                                        if (!isVistaDetalles)
                                        {
                                            <button type="button" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                        }
                                    }
                                    <a asp-action="ListadoMovilizacionActivosFijos" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    <script src="~/js/plugin/x-editable/moment.min.js"></script>
    <script src="~/js/plugin/x-editable/jquery.mockjax.min.js"></script>
    <script src="~/js/plugin/x-editable/x-editable.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/movilizacion.min.js"></script>
    <script>
        var urlListadoActivosFijosSeleccionResult = "@Url.Action("ListadoActivosFijosSeleccionMovilizacionResult")";
        objAdicional = "@String.Format("{0}", Model != null ? Model.IdMovilizacionActivoFijo.ToString() : "")";
        var isVistaDetalles = "@isVistaDetalles".toLowerCase() === 'true';
    </script>
}