@model AltaActivoFijo
@{
    List<RecepcionActivoFijoDetalleSeleccionado> listadoRecepcionActivoFijoDetalleSeleccionado = ViewBag.ListadoRecepcionActivoFijoDetalleSeleccionado;
    bool isVistaDetalles = ViewBag.IsVistaDetalles ?? false;
}

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/activoFijo/recepcion.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tableSmartForm.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        @{ 
                            if (isVistaDetalles)
                            {
                                <h2>Detalles de alta de activos fijos</h2>
                            }
                            else
                            {
                                <h2>Alta de activos fijos</h2>
                            }
                        }
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="GestionarAlta" id="checkout-form" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{
                                    if (Model != null)
                                    {
                                        <input type="hidden" asp-for="IdAltaActivoFijo" />
                                        <input type="hidden" asp-for="IdFacturaActivoFijo" />
                                    }
                                }
                                <fieldset @String.Format("{0}", isVistaDetalles ? "class=padding-top-0" : "")>
                                    @{ 
                                        <legend>Informaci&oacute;n general</legend>
                                        if (isVistaDetalles)
                                        {
                                            <table class="table table-hover">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="FechaAlta" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.FechaAlta)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="IdMotivoAlta" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.MotivoAlta.Descripcion)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="FechaPago" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.FechaPago)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="AltaActivoFijoDetalle.FirstOrDefault().IdTipoUtilizacionAlta" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.AltaActivoFijoDetalle.FirstOrDefault().TipoUtilizacionAlta.Nombre)</td>
                                                    </tr>
                                                    @{ 
                                                        if (Model?.FacturaActivoFijo != null)
                                                        {
                                                            <tr>
                                                                <td><label asp-for="FacturaActivoFijo.NumeroFactura" class="negrita"></label></td>
                                                                <td>@Html.DisplayFor(m => m.FacturaActivoFijo.NumeroFactura)</td>
                                                            </tr>
                                                            <tr>
                                                                <td><label asp-for="FacturaActivoFijo.FechaFactura" class="negrita"></label></td>
                                                                <td>@Html.DisplayFor(m => m.FacturaActivoFijo.FechaFactura)</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
											</table>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="FechaAlta"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <input class="form-control" value="@String.Format("{0}", Model?.FechaAlta.ToString("dd/MM/yyyy hh:mm tt") ?? DateTime.Now.ToString("dd/MM/yyyy hh:mm tt"))" disabled="disabled" />
                                                        <input type="hidden" asp-for="FechaAlta" />
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="IdMotivoAlta"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <select asp-for="IdMotivoAlta" class="form-control" asp-items="ViewBag.MotivoAlta"></select>
                                                        <span asp-validation-for="IdMotivoAlta" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="FechaPago"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <input asp-for="FechaPago" class="form-control" />
                                                        <span asp-validation-for="FechaPago" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="AltaActivoFijoDetalle.FirstOrDefault().IdTipoUtilizacionAlta"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <select asp-for="AltaActivoFijoDetalle.FirstOrDefault().IdTipoUtilizacionAlta" class="form-control" asp-items="ViewBag.TipoUtilizacionAlta"></select>
                                                        <span asp-validation-for="AltaActivoFijoDetalle.FirstOrDefault().IdTipoUtilizacionAlta" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>
                                        }
                                    }
                                    <div id="divOpcionCompra"></div>
                                    @{ 
                                        if (isVistaDetalles)
                                        {
                                            if (Model.IdFacturaActivoFijo != null)
                                            {
                                                <legend>Documento escaneado de la Factura</legend>
                                                await Html.RenderPartialAsync("_FileDownload", Model?.FacturaActivoFijo?.DocumentoActivoFijo);
                                            }
                                        }

                                        <legend>Documentaci&oacute;n adicional de los bienes</legend>
                                        if (isVistaDetalles)
                                        {
                                            await Html.RenderPartialAsync("_FileDownload", Model?.DocumentoActivoFijo);
                                        }
                                        else
                                        {
                                            <div class="row margin-top-25">
                                                <section class="col col-12 width100">
                                                    <input type="file" id="file" name="file" multiple="multiple" />
                                                </section>
                                            </div>
                                        }
                                    }
                                    <legend>Activos Fijos seleccionados</legend>
                                    @{
                                        if (Model == null && !isVistaDetalles)
                                        {
                                            <p class="margin-top-10">
                                                <button type="button" class="btn btn-primary" style="padding:7px !important;margin-left:7px !important;" onclick="cargarFormularioSeleccionNumeroRecepcion()">Adicionar / Eliminar Activos Fijos</button>
                                            </p>
                                        }
                                    }
                                    @{await Html.RenderPartialAsync("_ListadoDetallesActivosFijos", listadoRecepcionActivoFijoDetalleSeleccionado);}
                                </fieldset>
                                <footer>
                                    @{ 
                                        if (!isVistaDetalles)
                                        {
                                            <a href="javascript:void(0);" id="btn-guardar" class="btn btn-primary" onclick="abrirVentanaConfirmacion('btn-guardar')" data-funcioncallback="eventoGuardar()" data-titulo="Emitir aprobaci&oacute;n" data-descripcion="&#191;Desea guardar el alta de activos fijos? Una vez almacenada, no se podr&aacute; editar.">Guardar</a>
                                        }
                                    }
                                    <a asp-action="ListadoActivosFijosAlta" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    @{await Html.RenderPartialAsync("_FileInputScriptsPartial");}
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.js'></script>
    <script src='~/js/activoFijo/componentes.min.js'></script>
    <script src="~/js/activoFijo/alta.min.js"></script>
    <script>
        var urlDetalleFacturaAltaActivos = "@Url.Action("DetalleFacturaAltaActivosResult")";
        var urlNumeroRecepcionResult = "@Url.Action("NumeroRecepcionResult")";
        var urlListadoActivosFijosSeleccionResult = "@Url.Action("ListadoActivosFijosSeleccionAltaResult")";
        var urlModalComponentesResult = "@Url.Action("ModalComponentesResult")";
        var urlComponentesActivosFijos = "@Url.Action("ComponentesActivosFijosResult")";
        var urlModalEmpleadosResult = "@Url.Action("ModalEmpleadosResult")";
        var isVistaDetalles = "@isVistaDetalles".toLowerCase() === 'true';
    </script>
}