@model CambioUbicacionSucursalViewModel
@{
    List<RecepcionActivoFijoDetalleSeleccionado> listadoRecepcionActivoFijoDetalleSeleccionado = ViewBag.ListadoRecepcionActivoFijoDetalleSeleccionado;
    bool isVistaDetalles = ViewBag.IsVistaDetalles ?? false;
}

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tableSmartForm.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        @{ 
                            if (isVistaDetalles)
                            {
                                <h2>Detalles de cambio de ubicaci&oacute;n entre sucursales</h2>
                            }
                            else
                            {
                                <h2>Cambio de ubicaci&oacute;n entre sucursales</h2>
                            }
                        }
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            @{ 
                                if (isVistaDetalles)
                                {
                                    <div class="widget-body-toolbar">
                                        <div class="row">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-8 text-align-right">
                                                <a class="btn btn-primary" asp-action="ExportarPDfCambioUbicacionSucursales" asp-route-id="@Model.IdTransferenciaActivoFijo"><i class="fa fa-print"></i> Imprimir Acta de cambio de ubicaci&oacute;n entre sucursales</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <form asp-action="GestionarTransferenciaSucursal" id="checkout-form" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{ 
                                    if (Model != null)
                                    {
                                        <input type="hidden" asp-for="IdTransferenciaActivoFijo" />
                                    }
                                }
                                <input type="hidden" id="idsRecepcionActivoFijoDetalle" name="idsRecepcionActivoFijoDetalle" />
                                <fieldset @String.Format("{0}", isVistaDetalles ? "class=padding-top-0" : "")>
                                    <legend>Datos generales</legend>
                                    @{ 
                                        if (isVistaDetalles)
                                        {
                                            <table class="table table-hover">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="FechaTransferencia" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.FechaTransferencia)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="Observaciones" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.Observaciones)</td>
                                                    </tr>
                                                </tbody>
											</table>

                                            <legend>Sucursal de origen</legend>
                                            <table class="table table-hover">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="IdSucursalOrigen" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.SucursalOrigen.Nombre)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="IdEmpleadoEntrega" class="negrita"></label></td>
                                                        <td>@{await ViewContext.Writer.WriteAsync($"{Model.EmpleadoEntrega.Persona.Nombres} {Model.EmpleadoEntrega.Persona.Apellidos}");}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="IdEmpleadoResponsableEnvio" class="negrita"></label></td>
                                                        <td>@{await ViewContext.Writer.WriteAsync($"{Model.EmpleadoResponsableEnvio.Persona.Nombres} {Model.EmpleadoResponsableEnvio.Persona.Apellidos}");}</td>
                                                    </tr>
                                                </tbody>
											</table>

                                            <legend>Sucursal de destino</legend>
                                            <table class="table table-hover">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="IdSucursalDestino" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.SucursalDestino.Nombre)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="IdEmpleadoRecibe" class="negrita"></label></td>
                                                        <td>@{await ViewContext.Writer.WriteAsync($"{Model.EmpleadoRecibe.Persona.Nombres} {Model.EmpleadoRecibe.Persona.Apellidos}");}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="IdEmpleadoResponsableRecibo" class="negrita"></label></td>
                                                        <td>@{await ViewContext.Writer.WriteAsync($"{Model.EmpleadoResponsableRecibo.Persona.Nombres} {Model.EmpleadoResponsableRecibo.Persona.Apellidos}");}</td>
                                                    </tr>
                                                </tbody>
											</table>
                                        }
                                        else
                                        {
                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="FechaTransferencia"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <input asp-for="FechaTransferencia" class="form-control" />
                                                        <span asp-validation-for="FechaTransferencia" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div class="row">
                                                <section class="col col-4">
                                                    <label asp-for="Observaciones"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <textarea asp-for="Observaciones" class="form-control paddingTextArea98" rows="4"></textarea>
                                                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <legend>Sucursal de origen</legend>
                                            <div class="row margin-top-25">
                                                <section class="col col-4">
                                                    <label asp-for="IdSucursalOrigen"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <select asp-for="IdSucursalOrigen" class="form-control" asp-items="ViewBag.SucursalOrigen"></select>
                                                    </label>
                                                </section>
                                            </div>

                                            <div id="divEmpleadosSucursalOrigen">
                                                @{await Html.RenderPartialAsync("_EmpleadosTransferenciaSucursalOrigen");}
                                            </div>

                                            <legend>Sucursal de destino</legend>
                                            <div class="row margin-top-25">
                                                <section class="col col-4">
                                                    <label asp-for="IdSucursalDestino"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <select asp-for="IdSucursalDestino" class="form-control" asp-items="ViewBag.SucursalDestino"></select>
                                                        <span asp-validation-for="IdSucursalDestino" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>

                                            <div id="divEmpleadosSucursalDestino">
                                                @{await Html.RenderPartialAsync("_EmpleadosTransferenciaSucursalDestino");}
                                            </div>
                                        }
                                    }

                                    @{ 
                                        if (!isVistaDetalles)
                                        {
                                            <div class="row" style="padding-left:15px !important;padding-right:15px !important;">
                                                <div class="alert alert-info alert-block" style="border-left-width:5px !important;">
                                                    <h4 class="alert-heading">Informaci&oacute;n</h4>
                                                    Seleccione los Activos Fijos que desea transferir marcando las casillas de selecci&oacute;n.
                                                </div>
                                            </div>
                                        }
                                    }

                                    <legend>Activos Fijos a transferir</legend>
                                    <div class="margin-top-10" id="divActivosFijosATransferir">
                                        @{
                                            await Html.RenderPartialAsync("_ListadoDetallesActivosFijos", listadoRecepcionActivoFijoDetalleSeleccionado);
                                        }
                                    </div>
                                </fieldset>
                                <footer>
                                    @{ 
                                        if (!isVistaDetalles)
                                        {
                                            <button type="button" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                        }
                                    }
                                    <a asp-action="ListadoTransferenciasCreadas" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/transferenciaCambioUbicacionSucursales.min.js"></script>
    <script>
        var urlListadoActivosFijosCustodioResult = "@Url.Action("ListadoActivosFijosCustodioResult")";
        var urlEmpleadoTransferenciaResult = "@Url.Action("EmpleadoTransferenciaResult", "ActivoFijo")";
        var idsRecepcionActivoFijoDetalle = "@String.Join(",", listadoRecepcionActivoFijoDetalleSeleccionado.Where(c=> c.Seleccionado).Select(c=> c.RecepcionActivoFijoDetalle.IdRecepcionActivoFijoDetalle))";
        var idEditar = "@String.Format("{0}", Model != null && Model.IdTransferenciaActivoFijo > 0 ? "true" : "false")" === 'true';
        var isVistaDetalles = "@isVistaDetalles".toLowerCase() === 'true';
    </script>
}