@model List<bd.webapprm.entidades.BajaActivoFijo>
@{
    var nombreTabla = "dt_basic";
}

<div id="content">
    <p>
        <a asp-action="GestionarBaja" class="btn btn-primary">Nueva baja de activos fijos</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Bajas de activos fijos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover">
                                <thead>
                                    @{await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 5);}
                                    <tr>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.sucursal)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().BajaActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijoDetalle.UbicacionActivoFijoActual.Bodega.IdSucursal)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.fechaBaja)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaBaja)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.motivoBaja)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdMotivoBaja)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.memoOficioResolucion)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().MemoOficioResolucion)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.opciones)">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BajaActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijoDetalle.SucursalActual.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaBaja)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MotivoBaja.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MemoOficioResolucion)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Detalles", "DetallesBaja", new { id = item.IdBajaActivoFijo }) |
                                                @Html.ActionLink("Editar", "GestionarBaja", new { id = item.IdBajaActivoFijo })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/listadoAgrupacion.min.js"></script>
}