@model List<bd.webapprm.entidades.AltaActivoFijo>

<div id="content">
    <p>
        <a asp-action="GestionarAlta" class="btn btn-primary">Nueva alta de activos fijos</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Altas de activos fijos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover">
                                <thead>
                                    @{await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 7);}
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AltaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijo.Bodega.IdSucursal)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().AltaActivoFijoDetalle.FirstOrDefault().IdTipoUtilizacionAlta)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaAlta)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdMotivoAlta)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FacturaActivoFijo.NumeroFactura)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FacturaActivoFijo.FechaFactura)
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AltaActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijoDetalle.SucursalActual.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AltaActivoFijoDetalle.FirstOrDefault().TipoUtilizacionAlta.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaAlta)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MotivoAlta.Descripcion)
                                            </td>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync(item?.FacturaActivoFijo?.NumeroFactura ?? "-");}
                                            </td>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync(item?.FacturaActivoFijo?.FechaFactura.ToString("dd/MM/yyyy hh:mm tt") ?? "-");}
                                            </td>
                                            <td>
                                                @Html.ActionLink("Detalles", "DetallesAlta", new { id = item.IdAltaActivoFijo }) |
                                                @Html.ActionLink("Editar", "GestionarAlta", new { id = item.IdAltaActivoFijo })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
}