@model List<TransferenciaActivoFijo>
<div id="content">
    <p>
        <a asp-action="GestionarCambioCustodio" class="btn btn-primary">Nuevo Cambio de Custodio</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Listado de Cambios de Custodio</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover">
                                <thead>
                                    @{await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 6);}
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoOrigen.LibroActivoFijo.IdSucursal)
                                        </th>
                                        <th>
                                            Custodio que entrega
                                        </th>
                                        <th>
                                            Custodio que recibe
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaTransferencia)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Observaciones)
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoOrigen.LibroActivoFijo.Sucursal.Nombre)
                                            </td>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoOrigen.Empleado.Persona.Nombres} {item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoOrigen.Empleado.Persona.Apellidos}");}
                                            </td>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoDestino.Empleado.Persona.Nombres} {item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoDestino.Empleado.Persona.Apellidos}");}
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaTransferencia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Observaciones)
                                            </td>
                                            <td>
                                                <a href="javascript:void(0);" class="btnDetallesActivosFijos" id="btnDetallesActivoFijo_@item.IdTransferenciaActivoFijo" onclick="abrirVentanaDetallesActivoFijo('@item.IdTransferenciaActivoFijo')" data-ids="@String.Join(",", item.TransferenciaActivoFijoDetalle.Select(c => c.IdRecepcionActivoFijoDetalle))" data-url="@Url.Action("DetallesActivoFijoResult", "ActivoFijo")" data-toggle="modal" data-target="#myModalTableActivosFijos">Detalles</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <div class="modal fade" id="myModalTableActivosFijos" tabindex="-3" role="dialog" aria-labelledby="myModalTableActivosFijosLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="margin-left:8% !important;margin-top:30px !important;width:85% !important;">
            <div class="modal-content" id="modalContentTableActivosFijos">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalTableActivosFijosLabel">Detalles de Activo Fijo</h4>
                </div>
                <div class="modal-body" id="modalBodyTableActivosFijos"></div>
                <div class="modal-footer" id="divFooterTableActivosFijos">
                    <button type="button" class="btn btn-default" id="btnCancelarTableActivosFijos" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
    <script src="~/js/activoFijo/listadoSeleccion.min.js"></script>
    <script>
    var arrConfiguraciones = [
        { propiedad: "IsConfiguracionDatosActivo", valor: true },
        { propiedad: "IsConfiguracionListadoAltas", valor: true }
    ];
    </script>
}
