@model List<TransferenciaActivoFijo>
@{ 
    bool isSolicitudesTransferencia = ViewBag.IsSolicitudesTransferencia ?? false;
    bool isTransferenciasCreadas = ViewBag.IsTransferenciasCreadas ?? false;
    bool isCambioCustodio = ViewBag.IsCambioCustodio ?? false;
}
<div id="content">
    <p>
        @{
            if (isTransferenciasCreadas)
            {
                <a asp-action="GestionarTransferenciaSucursal" class="btn btn-primary">Nuevo cambio de ubicaci&oacute;n entre sucursales</a>
            }
            else if (isCambioCustodio)
            {
                <a asp-action="GestionarCambioCustodio" class="btn btn-primary">Nuevo cambio de custodio</a>
            }
        }
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>
                            @{
                                if (isSolicitudesTransferencia)
                                {
                                    <span>Solicitudes de cambio de ubicaci&oacute;n entre sucursales</span>
                                }
                                else if (isTransferenciasCreadas)
                                {
                                    <span>Solicitudes creadas de cambio de ubicaci&oacute;n entre sucursales</span>
                                }
                                if (isCambioCustodio)
                                {
                                    <span>Cambios de custodio</span>
                                }
                            }
                        </h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover">
                                <thead>
                                    @{await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", (isSolicitudesTransferencia || isTransferenciasCreadas) ? 10 : 7);}
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().SucursalOrigen)
                                        </th>
                                        @{ 
                                            if (isSolicitudesTransferencia || isTransferenciasCreadas)
                                            {
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdEmpleadoResponsableEnvio)
                                                </th>
                                            }
                                        }
                                        <th>
                                            Custodio que entrega:
                                        </th>
                                        @{ 
                                            if (isSolicitudesTransferencia || isTransferenciasCreadas)
                                            {
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdEmpleadoResponsableRecibo)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FirstOrDefault().SucursalDestino)
                                                </th>
                                            }
                                        }
                                        <th>
                                            Custodio que recibe:
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaTransferencia)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdEstado)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Observaciones)
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SucursalOrigen.Nombre)
                                            </td>
                                            @{ 
                                                if (isSolicitudesTransferencia || isTransferenciasCreadas)
                                                {
                                                    <td>
                                                        @{await ViewContext.Writer.WriteAsync($"{item.EmpleadoResponsableEnvio.Persona.Nombres} {item.EmpleadoResponsableEnvio.Persona.Apellidos}");}
                                                    </td>
                                                }
                                            }
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoOrigen.Empleado.Persona.Nombres} {item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoOrigen.Empleado.Persona.Apellidos}");}
                                            </td>
                                            @{ 
                                                if (isSolicitudesTransferencia || isTransferenciasCreadas)
                                                {
                                                    <td>
                                                        @{await ViewContext.Writer.WriteAsync($"{item.EmpleadoResponsableRecibo.Persona.Nombres} {item.EmpleadoResponsableRecibo.Persona.Apellidos}");}
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SucursalDestino.Nombre)
                                                    </td>
                                                }
                                            }
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoDestino.Empleado.Persona.Nombres} {item.TransferenciaActivoFijoDetalle.FirstOrDefault().UbicacionActivoFijoDestino.Empleado.Persona.Apellidos}");}
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaTransferencia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Estado.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Observaciones)
                                            </td>
                                            <td>
                                                @{ 
                                                    if (isCambioCustodio)
                                                    {
                                                        <a asp-action="DetallesCambioCustodio" asp-route-id="@item.IdTransferenciaActivoFijo">Detalles</a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-action="DetallesTransferenciaSucursal" asp-route-id="@item.IdTransferenciaActivoFijo">Detalles</a>
                                                    }
                                                    if (isTransferenciasCreadas)
                                                    {
                                                        if (item.Estado.Nombre == Estados.Creada)
                                                        {
                                                            <span> | </span>
                                                            <a asp-action="GestionarTransferenciaSucursal" asp-route-id="@item.IdTransferenciaActivoFijo">Editar</a>
                                                        }
                                                    }
                                                    else if (isSolicitudesTransferencia)
                                                    {
                                                        if (item.Estado.Nombre == Estados.Creada)
                                                        {
                                                            <span> | </span>
                                                            <a href="javascript:void(0);" id="btn_aprobar" onclick="abrirVentanaConfirmacion('btn_aprobar')" data-url="@Url.Action("GestionarAprobacionTransferenciaSucursal", values: new { id = item.IdTransferenciaActivoFijo, id2 = true })" data-titulo="Emitir aprobaci&oacute;n" data-descripcion="&#191;Desea aprobar el Cambio de ubicaci&oacute;n entre Sucursales?">Aprobar</a><span> | </span>
                                                            <a href="javascript:void(0);" id="btn_rechazar" onclick="abrirVentanaConfirmacion('btn_rechazar')" data-url="@Url.Action("GestionarAprobacionTransferenciaSucursal", values: new { id = item.IdTransferenciaActivoFijo, id2 = false })" data-titulo="Emitir desaprobaci&oacute;n" data-descripcion="&#191;Desea rechazar el Cambio de ubicaci&oacute;n entre Sucursales?">Rechazar</a>
                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
}