@model List<MovilizacionActivoFijo>
@{
    var nombreTabla = "dt_basic";
}

<div id="content">
    <p>
        <a asp-action="GestionarMovilizacion" class="btn btn-primary">Nueva movilizaci&oacute;n</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Movilizaciones de activos fijos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="@nombreTabla" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    @{await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 7);}
                                    <tr>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.empleadoResponsable)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdEmpleadoResponsable)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.empleadoSolicita)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdEmpleadoSolicita)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.empleadoAutorizado)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdEmpleadoAutorizado)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.fechaSalida)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaSalida)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.fechaRetorno)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaRetorno)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.motivoTraslado)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdMotivoTraslado)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.opciones)">
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.EmpleadoResponsable.Persona.Nombres} {item.EmpleadoResponsable.Persona.Apellidos}");}
                                            </td>

                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.EmpleadoSolicita.Persona.Nombres} {item.EmpleadoSolicita.Persona.Apellidos}");}
                                            </td>

                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.EmpleadoAutorizado.Persona.Nombres} {item.EmpleadoAutorizado.Persona.Apellidos}");}
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaSalida)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaRetorno)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.MotivoTraslado.Descripcion)
                                            </td>

                                            <td>
                                                <a asp-action="DetallesMovilizacion" asp-route-id="@item.IdMovilizacionActivoFijo">Detalles</a><span> | </span>
                                                @Html.ActionLink("Editar", "GestionarMovilizacion", new { id = item.IdMovilizacionActivoFijo })<span> | </span>
                                                <a href="javascript:void(0);" id="@item.IdMovilizacionActivoFijo" onclick="abrirVentanaConfirmacion('@item.IdMovilizacionActivoFijo')" data-url="@Url.Action("EliminarMovilizacion", values: new { id = item.IdMovilizacionActivoFijo })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar la Movilizaci&oacute;n... ?">Eliminar</a>
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/listadoAgrupacion.min.js"></script>
}