@model List<ActivoFijo>

<div id="content">    
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewData["titulo"]</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().SubClaseActivoFijo.ClaseActivoFijo.IdTipoActivoFijo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().SubClaseActivoFijo.IdClaseActivoFijo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdSubClaseActivoFijo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.FechaRecepcion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.IdProveedor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                                        </th>
                                        @if (ViewData["poliza"] != null)
                                        {
                                            <th>
                                                @Html.DisplayNameFor(model => model.FirstOrDefault().RecepcionActivoFijoDetalle.FirstOrDefault().NumeroPoliza)
                                            </th>
                                        }
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.Cantidad)
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubClaseActivoFijo.ClaseActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubClaseActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.FechaRecepcion)
                                            </td>

                                            <td>
                                                @{ await ViewContext.Writer.WriteAsync(String.Format("{0} {1}", item.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.Proveedor.Nombre, item.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.Proveedor.Apellidos)); }
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>

                                            @if (ViewData["poliza"] != null)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RecepcionActivoFijoDetalle.FirstOrDefault().NumeroPoliza)
                                                </td>
                                            }

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijoDetalle.FirstOrDefault().RecepcionActivoFijo.Cantidad)
                                            </td>

                                            <td>
                                                @{
                                                    if (ViewBag.urlEditar != null)
                                                    {
                                                        @Html.ActionLink("Editar", ViewData["urlEditar"].ToString(), new { id = item.IdActivoFijo })
                                                        await ViewContext.Writer.WriteAsync(" | ");
                                                    }
                                                    @Html.ActionLink(ViewData["textoColumna"].ToString(), ViewData["url"].ToString(), new { id = item.IdActivoFijo })

                                                    if (ViewBag.eliminarRecepcionActivoFijo != null)
	                                                {
                                                        <span>| </span><a href="javascript:void(0);" id="@item.IdActivoFijo" onclick="abrirVentanaConfirmacion('@item.IdActivoFijo')" data-url="@Url.Action("DeleteRecepcion", values: new { id = item.IdActivoFijo, activoFijoRecepcionado = item.RecepcionActivoFijoDetalle.FirstOrDefault().Estado.Nombre == "Recepcionado" })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar la recepci&oacute;n del Activo Fijo... ?">Eliminar</a>
	                                                }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.min.js'></script>
}
