@model List<bd.webapprm.entidades.RecepcionActivoFijoDetalle>

<div id="content">    
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewData["titulo"]</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Tipo
                                        </th>
                                        <th>
                                            Clase
                                        </th>
                                        <th>
                                            Sub Clase
                                        </th>
                                        <th>
                                            Fecha de Registro
                                        </th>
                                        <th>
                                            Proveedor
                                        </th>
                                        <th>
                                            Activo Fijo
                                        </th>
                                        @if (ViewData["poliza"] != null)
                                        {
                                            <th>
                                                N&uacute;mero de P&oacute;liza
                                            </th>
                                        }
                                        <th>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.SubClaseActivoFijo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RecepcionActivoFijo.FechaRecepcion)
                                            </td>

                                            <td>
                                                @{ await ViewContext.Writer.WriteAsync(String.Format("{0} {1}", item.RecepcionActivoFijo.Proveedor.Nombre, item.RecepcionActivoFijo.Proveedor.Apellidos)); }
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.ActivoFijo.Nombre)
                                            </td>

                                            @if (ViewData["poliza"] != null)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NumeroPoliza)
                                                </td>
                                            }

                                            <td>
                                                @{
                                                    if (ViewBag.RequerirAlta != null)
                                                    {
                                                        @Html.ActionLink(ViewData["textoColumna"].ToString(), item.RecepcionActivoFijo.MotivoRecepcion.Descripcion.IndexOf("Compra") > -1 ? ViewData["url"].ToString() : "AprobarAlta", new { id = item.IdRecepcionActivoFijoDetalle })
                                                    }
                                                    else
                                                    {
                                                        if (ViewBag.urlEditar != null)
                                                        {
                                                            @Html.ActionLink("Editar", ViewData["urlEditar"].ToString(), new { id = item.IdRecepcionActivoFijoDetalle })
                                                            await ViewContext.Writer.WriteAsync(" | ");
                                                        }
                                                        @Html.ActionLink(ViewData["textoColumna"].ToString(), ViewData["url"].ToString(), new { id = item.IdRecepcionActivoFijoDetalle })

                                                        if (ViewBag.urlCodificacion != null)
	                                                    {
                                                            <span>| </span>@Html.ActionLink("Codificaci\u00F3n", ViewData["urlCodificacion"].ToString(), new { id = item.IdRecepcionActivoFijoDetalle })
	                                                    }

                                                        if (ViewBag.eliminarRecepcionActivoFijo != null)
	                                                    {
                                                            <span>| </span><a href="javascript:void(0);" id="@item.IdRecepcionActivoFijoDetalle" onclick="abrirVentanaConfirmacion('@item.IdRecepcionActivoFijoDetalle')" data-url="@Url.Action("DeleteRecepcion", values: new { id = item.IdRecepcionActivoFijoDetalle, activoFijoRecepcionado = item.Estado.Nombre == "Recepcionado" })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar la recepci&oacute;n del Activo Fijo... ?">Eliminar</a>
	                                                    }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.min.js'></script>
}
