@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
@{
    List<RecepcionActivoFijoDetalleSeleccionado> listadoRecepcionActivoFijoDetalle = ViewBag.ListadoRecepcionActivoFijoDetalle ?? new List<RecepcionActivoFijoDetalleSeleccionado>();
    List<DocumentoActivoFijo> listadoDocumentosActivoFijo = ViewBag.ListadoDocumentoActivoFijo ?? new List<DocumentoActivoFijo>();
    bool isSeleccion = ViewBag.IsSeleccion ?? false;
    bool isVistaDetalles = ViewBag.IsVistaDetalles ?? false;
    bool isRevisionActivoFijo = ViewBag.IsRevisionActivoFijo ?? false;
    bool isPolizaSeguro = ViewBag.IsPolizaSeguro ?? false;
    string actionForm = isPolizaSeguro ? "AsignarPolizaSeguro" : "Recepcion";
}

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/lib/jquery.spinner-master/dist/css/bootstrap-spinner.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/activoFijo/recepcion.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tableSmartForm.min.css" />
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        @{ 
                            if (isRevisionActivoFijo)
                            {
                                <h2>Revisi&oacute;n de activo fijo</h2>
                            }
                            else if (isVistaDetalles)
                            {
                                <h2>Detalles de recepci&oacute;n de activo fijo</h2>
                            }
                            else
                            {
                                <h2>Recepci&oacute;n de activo fijo</h2>
                            }
                        }
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="@actionForm" id="formDatosActivo" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdRecepcionActivoFijo" />
                                @{
                                    if (isRevisionActivoFijo)
                                    {
                                        <input type="hidden" id="idsRecepcionActivoFijoDetalleSeleccionado" name="idsRecepcionActivoFijoDetalleSeleccionado" />
                                        <input type="hidden" id="accion" name="accion" />
                                    }
                                }
                                <fieldset @String.Format("{0}", isVistaDetalles ? "class=padding-top-0" : "")>
                                    @{ 
                                        if (isPolizaSeguro)
                                        {
                                            <div class="row" style="padding-left:15px !important;padding-right:15px !important;">
                                                <div class="alert alert-info alert-block" style="border-left-width:5px !important;">
                                                    <h4 class="alert-heading">Informaci&oacute;n</h4>
                                                    Establezca el N&uacute;mero de P&oacute;liza de seguro para la recepci&oacute;n de Activos Fijos.
                                                </div>
                                            </div>

                                            <div class="row margin-top-10">
                                                <section class="col col-4">
                                                    <label asp-for="RecepcionActivoFijo.PolizaSeguroActivoFijo.NumeroPoliza"></label>
                                                </section>

                                                <section class="col col-8">
                                                    <label class="input">
                                                        <input asp-for="RecepcionActivoFijo.PolizaSeguroActivoFijo.NumeroPoliza" class="form-control" />
                                                        <span asp-validation-for="RecepcionActivoFijo.PolizaSeguroActivoFijo.NumeroPoliza" class="text-danger"></span>
                                                        <span id="errorNumeroPoliza" class="text-danger"></span>
                                                    </label>
                                                </section>
                                            </div>
                                        }

                                        if (!isVistaDetalles && !isRevisionActivoFijo && !isPolizaSeguro)
                                        {
                                            <legend>Datos generales</legend>
                                            await Html.RenderPartialAsync("_DetalleDatosGeneralesRecepcion", Model);
                                        }
                                        if (isVistaDetalles)
                                        {
                                            <legend>Datos generales</legend>
                                            <table class="table table-hover">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="IdRecepcionActivoFijo" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.IdRecepcionActivoFijo)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="RecepcionActivoFijo.IdMotivoAlta" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.RecepcionActivoFijo.MotivoAlta.Descripcion)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="RecepcionActivoFijo.IdProveedor" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.RecepcionActivoFijo.Proveedor.RazonSocial)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="RecepcionActivoFijo.IdFondoFinanciamiento" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.RecepcionActivoFijo.FondoFinanciamiento.Nombre)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="RecepcionActivoFijo.FechaRecepcion" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.RecepcionActivoFijo.FechaRecepcion)</td>
                                                    </tr>
                                                    <tr>
                                                        <td><label asp-for="RecepcionActivoFijo.OrdenCompra" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.RecepcionActivoFijo.OrdenCompra)</td>
                                                    </tr>
                                                </tbody>
											</table>

                                            <legend>Distribuci&oacute;n</legend>
                                            <table class="table table-hover">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="SucursalActual.Nombre" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.SucursalActual.Nombre)</td>
                                                    </tr>
                                                </tbody>
											</table>

                                            <legend>P&oacute;liza de seguro</legend>
                                            <table class="table table-hover">
												<thead>
													<tr>
														<th width="50%">CAMPO</th>
														<th width="50%">VALOR</th>
													</tr>
												</thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label asp-for="RecepcionActivoFijo.PolizaSeguroActivoFijo.CompaniaSeguro.Nombre" class="negrita"></label></td>
                                                        <td>@Html.DisplayFor(m => m.RecepcionActivoFijo.PolizaSeguroActivoFijo.CompaniaSeguro.Nombre)</td>
                                                    </tr>
                                                    @{ 
                                                        if (Model?.RecepcionActivoFijo?.PolizaSeguroActivoFijo?.NumeroPoliza != null)
                                                        {
                                                            <tr>
                                                                <td><label asp-for="RecepcionActivoFijo.PolizaSeguroActivoFijo.NumeroPoliza" class="negrita"></label></td>
                                                                <td>@Html.DisplayFor(m => m.RecepcionActivoFijo.PolizaSeguroActivoFijo.NumeroPoliza)</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
											</table>

                                            <legend>Documentaci&oacute;n adicional de los bienes</legend>
                                            await Html.RenderPartialAsync("_FileDownload", listadoDocumentosActivoFijo);

                                            <legend>Activos Fijos adicionados</legend>
                                        }
                                        if (isRevisionActivoFijo)
                                        {
                                            <legend>Activos Fijos adicionados</legend>
                                            <div class="row" style="padding-left:15px !important;padding-right:15px !important;">
                                                <div class="alert alert-info alert-block" style="border-left-width:5px !important;">
                                                    <h4 class="alert-heading">Informaci&oacute;n</h4>
                                                    Seleccione los Activos Fijos que ser&aacute;n revisados marcando las casillas de selecci&oacute;n.
                                                </div>
                                            </div>
                                        }
                                    }
                                    @{await Html.RenderPartialAsync("_ListadoActivosFijosRecepcion", listadoRecepcionActivoFijoDetalle);}
                                    @{await Html.RenderPartialAsync("_TotalInvoice", 0);}
                                </fieldset>
                                <footer>
                                    @{ 
                                        if (!isVistaDetalles && !isPolizaSeguro && !isRevisionActivoFijo)
                                        {
                                            <button type="button" class="btn btn-primary" id="btn-guardar" onclick="validarRecepcion()">Guardar</button>
                                            <a asp-action="ActivosFijosRecepcionados" class="btn btn-default">Cancelar</a>
                                        }
                                        if (isPolizaSeguro)
                                        {
                                            <button type="button" class="btn btn-primary" id="btn-guardar" onclick="validarPolizaSeguro()">Guardar</button>
                                            <a asp-action="ActivosFijosRecepcionadosSinPoliza" class="btn btn-default">Cancelar</a>
                                        }
                                        if (isRevisionActivoFijo)
                                        {
                                            <a href="javascript:void(0);" id="btn_aprobar" class="btn btn-primary" onclick="abrirVentanaConfirmacion('btn_aprobar')" data-funcioncallback="callBackEmitirAprobacion(true)" data-titulo="Emitir aprobaci&oacute;n" data-descripcion="&#191;Desea aprobar los Activos Fijos seleccionados?">Aprobar</a>
                                            <a href="javascript:void(0);" id="btn_desaprobar" class="btn btn-danger" onclick="abrirVentanaConfirmacion('btn_desaprobar')" data-funcioncallback="callBackEmitirAprobacion(false)" data-titulo="Emitir desaprobaci&oacute;n" data-descripcion="&#191;Desea desaprobar los Activos Fijos seleccionados?">Desaprobar</a>
                                            <a asp-action="ActivosFijosValidacionTecnica" class="btn btn-default">Cancelar</a>
                                        }
                                    }
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_WizardScriptsPartial");}
    <script src='~/lib/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.js'></script>
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    <script src='~/lib/jquery.spinner-master/dist/js/jquery.spinner.min.js'></script>
    @{await Html.RenderPartialAsync("_FileInputScriptsPartial");}
    <script src="~/lib/JsBarcode-master/dist/JsBarcode.all.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/codificacion.min.js'></script>
    <script src='~/js/activoFijo/recepcion.min.js'></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src='~/js/activoFijo/componentes.min.js'></script>
    <script>
        var urlEliminarActivoFijo = "@Url.Action("EliminarArchivo")";
        var urlModeloSelectResult = "@Url.Action("Modelo_SelectResult")";
        var claseActivoFijoSelectResult = "@Url.Action("ClaseActivoFijo_SelectResult")";
        var subClaseActivoFijoSelectResult = "@Url.Action("SubClaseActivoFijo_SelectResult")";
        var urlSubramoSelectResult = "@Url.Action("Subramo_SelectResult")";
        var urlModalDatosEspecificosResult = "@Url.Action("ModalDatosEspecificosResult")";
        var urlValidacionDatosEspecificosResult = "@Url.Action("ValidacionDatosEspecificosResult")";
        var urlModalComponentesResult = "@Url.Action("ModalComponentesResult")";
        var urlComponentesActivosFijos = "@Url.Action("ComponentesActivosFijosResult")";
        var urlCategoria = "@Url.Action("CategoriaResult")";
        var urlCodificacion = "@Url.Action("CodificacionResult")";
        var urlDatosActivoFijoResult = "@Url.Action("DatosActivoFijoResult")";
        var urlGestionarRevisionActivoFijo = "@Url.Action("GestionarAprobacionActivoFijo")";
        var urlListadoValidacionesTecnicas = "@Url.Action("ActivosFijosValidacionTecnica")";
        var urlPolizaSeguroResult = "@Url.Action("PolizaSeguroResult")";
        var isEditar = "@String.Format("{0}", Model != null && Model.IdRecepcionActivoFijo > 0 ? true : false)".toLowerCase() === 'true';
        var isVistaDetalles = "@isVistaDetalles".toLowerCase() === 'true';
        var isSeleccion = "@isSeleccion".toLowerCase() === 'true';
        var isRevisionActivoFijo = "@isRevisionActivoFijo".toLowerCase() === 'true';
        var isPolizaSeguro = "@isPolizaSeguro".toLowerCase() === 'true';
        var idsRecepcionActivoFijoDetalle = "@String.Join(",", listadoRecepcionActivoFijoDetalle.Select(c => $"{c.RecepcionActivoFijoDetalle.IdActivoFijo}_{c.Seleccionado}"))";
    </script>
}
