@model List<DepreciacionActivoFijo>
@{
    var nombreTabla = "dt_basic";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Tabla de amortizaci&oacute;n de activo fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="@nombreTabla" class="table table-striped table-bordered table-hover">
                                <thead>
                                    @{await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 4, new ViewDataDictionary(ViewData) { { "MostrarFiltradoUltimaColumna", true } });}
                                    <tr>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.fechaDepreciacion)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaDepreciacion)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.valorCompra)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().ValorCompra)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.depreciacion)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().DepreciacionAcumulada)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.valorResidual)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().ValorResidual)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaDepreciacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorCompra)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DepreciacionAcumulada)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ValorResidual)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/listadoAgrupacion.min.js"></script>
}
