<aside id="left-panel">
    @{ await Html.RenderPartialAsync("_CurrentUser"); }
    <nav>
        <ul>
            <li class="@Html.RouteIf("Home", "active")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Principal</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Configuraci&oacute;n</span></a>
                <ul>
                    <li class="@Html.RouteIf("Articulo", "active")">
                        <a href="@Url.Action("Index", "Articulo")">Art&iacute;culo</a>
                    </li>
                    <li class="@Html.RouteIf("Bodega", "active")">
                        <a href="@Url.Action("Index", "Bodega")">Bodega</a>
                    </li>
                    <li class="@Html.RouteIf("CatalogoCuenta", "active")">
                        <a href="@Url.Action("Index", "CatalogoCuenta")">Cat&aacute;logo de Cuenta</a>
                    </li>
                    <li class="@Html.RouteIf("CategoriaActivoFijo", "active")">
                        <a href="@Url.Action("Index", "CategoriaActivoFijo")">Categor&iacute;a de Activo Fijo</a>
                    </li>
                    <li class="@Html.RouteIf("ClaseActivoFijo", "active")">
                        <a href="@Url.Action("Index", "ClaseActivoFijo")">Clase de Activo Fijo</a>
                    </li>
                    <li class="@Html.RouteIf("ClaseArticulo", "active")">
                        <a href="@Url.Action("Index", "ClaseArticulo")">Clase de Art&iacute;culo</a>
                    </li>
                    <li class="@Html.RouteIf("CompaniaSeguro", "active")">
                        <a href="@Url.Action("Index", "CompaniaSeguro")">Compa&ntilde;&iacute;a de Seguro</a>
                    </li>
                    <li class="@Html.RouteIf("DetalleFactura", "active")">
                        <a href="@Url.Action("Index", "DetalleFactura")">Detalle de Factura</a>
                    </li>
                    <li class="@Html.RouteIf("MaestroDetalleArticulo", "active")">
                        <a href="@Url.Action("Index", "MaestroDetalleArticulo")">Detalle de Maestro Art&iacute;culo</a>
                    </li>
                    <li class="@Html.RouteIf("FondoFinanciamiento", "active")">
                        <a href="@Url.Action("Index", "FondoFinanciamiento")">Fondo de Financiamiento</a>
                    </li>
                    <li class="@Html.RouteIf("LineaServicio", "active")">
                        <a href="@Url.Action("Index", "LineaServicio")">L&iacute;nea de Servicio</a>
                    </li>
                    <li class="@Html.RouteIf("Marca", "active")">
                        <a href="@Url.Action("Index", "Marca")">Marca</a>
                    </li>
                    <li class="@Html.RouteIf("Modelo", "active")">
                        <a href="@Url.Action("Index", "Modelo")">Modelo</a>
                    </li>
                    <li class="@Html.RouteIf("MotivoAlta", "active")">
                        <a href="@Url.Action("Index", "MotivoAlta")">Motivo de Alta</a>
                    </li>
                    <li class="@Html.RouteIf("MotivoAsiento", "active")">
                        <a href="@Url.Action("Index", "MotivoAsiento")">Motivo de Asiento</a>
                    </li>
                    <li class="@Html.RouteIf("MotivoBaja", "active")">
                        <a href="@Url.Action("Index", "MotivoBaja")">Motivo de Baja</a>
                    </li>
                    <li class="@Html.RouteIf("MotivoRecepcion", "active")">
                        <a href="@Url.Action("Index", "MotivoRecepcion")">Motivo de Recepción</a>
                    </li>
                    <li class="@Html.RouteIf("MotivoTransferencia", "active")">
                        <a href="@Url.Action("Index", "MotivoTransferencia")">Motivo de Transferencia</a>
                    </li>
                    <li class="@Html.RouteIf("Proveedor", "active")">
                        <a href="@Url.Action("Index", "Proveedor")">Proveedor</a>
                    </li>
                    <li class="@Html.RouteIf("Ramo", "active")">
                        <a href="@Url.Action("Index", "Ramo")">Ramo</a>
                    </li>
                    <li class="@Html.RouteIf("SubClaseActivoFijo", "active")">
                        <a href="@Url.Action("Index", "SubClaseActivoFijo")">Subclase de Activo Fijo</a>
                    </li>
                    <li class="@Html.RouteIf("SubClaseArticulo", "active")">
                        <a href="@Url.Action("Index", "SubClaseArticulo")">Subclase de Art&iacute;culo</a>
                    </li>
                    <li class="@Html.RouteIf("Subramo", "active")">
                        <a href="@Url.Action("Index", "Subramo")">Subramo</a>
                    </li>
                    <li class="@Html.RouteIf("TipoActivoFijo", "active")">
                        <a href="@Url.Action("Index", "TipoActivoFijo")">Tipo de Activo Fijo</a>
                    </li>
                    <li class="@Html.RouteIf("TipoArticulo", "active")">
                        <a href="@Url.Action("Index", "TipoArticulo")">Tipo de Art&iacute;culo</a>
                    </li>
                    <li class="@Html.RouteIf("TipoUtilizacionAlta", "active")">
                        <a href="@Url.Action("Index", "TipoUtilizacionAlta")">Tipo de Utilizaci&oacute;n</a>
                    </li>
                    <li class="@Html.RouteIf("UnidadMedida", "active")">
                        <a href="@Url.Action("Index", "UnidadMedida")">Unidad de Medida</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Activos Fijos</span></a>
                <ul>
                    <li>
                        <a href="#"><span class="menu-item-parent">Recepci&oacute;n</span></a>
                        <ul>
                            <li class="@Html.RouteIf(new[] { "Recepcion", "EditarRecepcionAR", "EditarRecepcionVT" }, "ActivoFijo", "active")">
                                <a href="@Url.Action("Recepcion", "ActivoFijo")">Recepcionar Activo Fijo</a>
                            </li>
                            <li class="@Html.RouteIf(new[] { "ActivosFijosValidacionTecnica", "RevisionActivoFijo" }, "ActivoFijo", "active")">
                                <a href="@Url.Action("ActivosFijosValidacionTecnica", "ActivoFijo")">Activos Fijos que requieren Validaci&oacute;n T&eacute;cnica</a>
                            </li>
                            <li class="@Html.RouteIf("ActivosFijosRecepcionados", "active")">
                                <a href="@Url.Action("ActivosFijosRecepcionados", "ActivoFijo")">Activos Fijos Recepcionados</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="menu-item-parent">P&oacute;liza de Seguro</span></a>
                        <ul>
                            <li class="@Html.RouteIf("ActivosFijosRecepcionadosSinPoliza", "active")">
                                <a href="@Url.Action("ActivosFijosRecepcionadosSinPoliza", "ActivoFijo")">Asignar P&oacute;liza de Seguro</a>
                            </li>
                            <li class="@Html.RouteIf("ActivosFijosRecepcionadosConPoliza", "active")">
                                <a href="@Url.Action("ActivosFijosRecepcionadosConPoliza", "ActivoFijo")">P&oacute;lizas Asignadas</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="menu-item-parent">Altas</span></a>
                        <ul>
                            <li class="@Html.RouteIf("GestionarAlta", "active")">
                                <a href="@Url.Action("GestionarAlta", "ActivoFijo")">Gestionar Alta de Activos Fijos</a>
                            </li>
                            <li class="@Html.RouteIf("ListadoAltaActivosFijos", "active")">
                                <a href="@Url.Action("ListadoAltaActivosFijos", "ActivoFijo")">Listado de Altas</a>
                            </li>
                            <li class="@Html.RouteIf("ListadoActivosFijosAlta", "active")">
                                <a href="@Url.Action("ListadoActivosFijosAlta", "ActivoFijo")">Listado de Activos Fijos en Alta</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="menu-item-parent">Bajas</span></a>
                        <ul>
                            <li class="@Html.RouteIf("GestionarBaja", "active")">
                                <a href="@Url.Action("GestionarBaja", "ActivoFijo")">Gestionar Baja de Activos Fijos</a>
                            </li>
                            <li class="@Html.RouteIf("ListadoBajaActivosFijos", "active")">
                                <a href="@Url.Action("ListadoBajaActivosFijos", "ActivoFijo")">Listado de Bajas</a>
                            </li>
                            <li class="@Html.RouteIf("ListadoActivosFijosBaja", "active")">
                                <a href="@Url.Action("ListadoActivosFijosBaja", "ActivoFijo")">Listado de Activos Fijos en Baja</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><span class="menu-item-parent">Transferencias</span></a>
                        <ul>
                            <li class="@Html.RouteIf(new[] { "ListadoCambioCustodio", "GestionarCambioCustodio" }, "ActivoFijo", "active")">
                                <a href="@Url.Action("ListadoCambioCustodio", "ActivoFijo")">Cambio de Custodio</a>
                            </li>
                            <li>
                                <a href="#"> Cambio de Ubicaci&oacute;n entre Sucursales</a>
                                <ul>
                                    <li class="@Html.RouteIf("GestionarTransferencia", "active")">
                                        <a href="@Url.Action("GestionarTransferencia", "ActivoFijo")">Gestionar Transferencia de Activos Fijos</a>
                                    </li>
                                    <li class="@Html.RouteIf("ListadoTransferenciasCreadas", "active")">
                                        <a href="@Url.Action("ListadoTransferenciasCreadas", "ActivoFijo")">Listado de Transferencias Creadas</a>
                                    </li>
                                    <li class="@Html.RouteIf("ListadoTransferenciasAceptadas", "active")">
                                        <a href="@Url.Action("ListadoTransferenciasAceptadas", "ActivoFijo")">Listado de Transferencias Aceptadas</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="@Html.RouteIf(new[] { "ListarMantenimientosActivosFijos", "ListarMantenimientos", "CrearMantenimiento", "EditarMantenimiento" }, "ActivoFijo", "active")">
                        <a href="@Url.Action("ListarMantenimientosActivosFijos", "ActivoFijo")">Mantenimientos</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-file-text-o"></i> <span class="menu-item-parent">Reportes</span></a>
                        <ul>
                            <li class="@Html.RouteIf("AltaReporte", "active")">
                                <a href="@Url.Action("ActivosFijosReporteAltas", "ActivoFijo")">Registro de Altas</a>
                            </li>
                            <li class="@Html.RouteIf("PolizasReporte", "active")">
                                <a href="@Url.Action("PolizasReporte", "ActivoFijo")">Detalles con P&oacute;liza de Seguro</a>
                            </li>
                            <li class="@Html.RouteIf("BienesReporte", "active")">
                                <a href="@Url.Action("BienesReporte", "ActivoFijo")">Bienes por &aacute;rea usuaria</a>
                            </li>
                            <li class="@Html.RouteIf("HojaVidaReporte", "active")">
                                <a href="@Url.Action("HojaVidaReporte", "ActivoFijo")">Hoja de vida</a>
                            </li>
                            <li class="@Html.RouteIf("MantenimientosReporte", "active")">
                                <a href="@Url.Action("MantenimientosReporte", "ActivoFijo")">Registros de Mantenimiento</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("proveeduria", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Proveedur&iacute;a</span></a>
                <ul>
                    <li class="@Html.RouteIf("recepcion_proveeduria", "active")">
                        <a href="#"><span class="menu-item-parent">Recepci&oacute;n</span></a>
                        <ul>
                            <li class="@Html.RouteIf("ListadoRecepcion", "active")">
                                <a href="@Url.Action("ListadoRecepcion", "Proveeduria")">Recepcionar Proveedur&iacute;a</a>
                            </li>
                            <li class="@Html.RouteIf("MaestroArticuloSucursal", "active")">
                                <a href="@Url.Action("Index", "MaestroArticuloSucursal")">Configurar Maestro de Art&iacute;culo</a>
                            </li>                            
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("IngresarFacturas", "active")">
                        <a href="@Url.Action("IngresarFacturas", "Proveeduria")">Ingresar Facturas</a>
                    </li>
                    <li class="@Html.RouteIf("altas", "active")">
                        <a href="#"><span class="menu-item-parent">Altas</span></a>
                        <ul>
                            <li class="@Html.RouteIf("ArticulosADarAlta", "active")">
                                <a href="@Url.Action("ArticulosADarAlta", "Proveeduria")">Dar Altas</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("bajas", "active")">
                        <a href="#"><span class="menu-item-parent">Bajas</span></a>
                        <ul>
                            <li class="@Html.RouteIf("ArticulosADarBaja", "active")">
                                <a href="@Url.Action("ArticulosADarBaja", "Proveeduria")">Dar Bajas</a>
                            </li>
                            <li class="@Html.RouteIf("ListarSolicitudesDeBaja", "active")">
                                <a href="@Url.Action("ListarSolicitudesDeBaja", "Proveeduria")">Aprobar Solicitudes</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@Html.RouteIf("reportes", "active")">
                        <a href="#"><i class="fa fa-file-text-o"></i> <span class="menu-item-parent">Reportes</span></a>
                        <ul>
                            <li class="@Html.RouteIf("ProveeduriaReporteAltas", "active")">
                                <a href="@Url.Action("ProveeduriaReporteAltas", "Proveeduria")">Registro de Altas</a>
                            </li>
                            <li class="@Html.RouteIf("ProveeduriaReporteBajas", "active")">
                                <a href="@Url.Action("ProveeduriaReporteBajas", "Proveeduria")">Registro de Bajas</a>
                            </li>
                            <li class="@Html.RouteIf("EstadisticasConsumoAreaReporte", "active")">
                                <a href="@Url.Action("EstadisticasConsumoAreaReporte", "Proveeduria")">Reportes por &aacute;rea con estad&iacute;sticas de consumo</a>
                            </li>
                            <li class="@Html.RouteIf("AlertaVencimientoReporte", "active")">
                                <a href="@Url.Action("AlertaVencimientoReporte", "Proveeduria")">Alertas de Vencimiento por cantidades m&iacute;nimas de los suministros</a>
                            </li>
                            <li class="@Html.RouteIf("ConsolidadoInventarioReporte", "active")">
                                <a href="@Url.Action("ConsolidadoInventarioReporte", "Proveeduria")">Reporte consolidado de inventario para sucursales e individuales</a>
                            </li>
                            <li class="@Html.RouteIf("ConsolidadoSolicitudReporte", "active")">
                                <a href="@Url.Action("ConsolidadoSolicitudReporte", "Proveeduria")">Reporte consolidado de solicitudes para sucursales e individuales</a>
                            </li>
                            <li class="@Html.RouteIf("MinMaxReporte", "active")">
                                <a href="@Url.Action("MinMaxReporte", "ActivoFijo")">Registros de M&iacute;nimos y M&aacute;ximos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
</aside>