<aside id="left-panel">
    @{ await Html.RenderPartialAsync("_CurrentUser"); }
    @*<nav>
        <ul>
            <li class="@Html.RouteIf("proveeduria", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-building"></i> <span class="menu-item-parent">Proveedur&iacute;a</span></a>
                <ul>
                    <li class="@Html.RouteIf("bajas", "active")">
                        <a href="#"><span class="menu-item-parent">Bajas</span></a>
                        <ul>
                            <li class="@Html.RouteIf("ArticulosADarBaja", "active")">
                                <a href="@Url.Action("ArticulosADarBaja", "Proveeduria")">Dar Bajas</a>
                            </li>
                            <li class="@Html.RouteIf("ListarSolicitudesDeBaja", "active")">
                                <a href="@Url.Action("ListarSolicitudesDeBaja", "Proveeduria")">Aprobar Solicitudes</a>
                            </li>
                        </ul>
                    </li>

                    <li class="@Html.RouteIf("reportes", "active")">
                        <a href="#"><i class="fa fa-file-text-o"></i> <span class="menu-item-parent">Reportes</span></a>
                        <ul>
                            <li class="@Html.RouteIf("ProveeduriaReporteAltas", "active")">
                                <a href="@Url.Action("ProveeduriaReporteAltas", "Proveeduria")">Registro de Altas</a>
                            </li>
                            <li class="@Html.RouteIf("ProveeduriaReporteBajas", "active")">
                                <a href="@Url.Action("ProveeduriaReporteBajas", "Proveeduria")">Registro de Bajas</a>
                            </li>
                            <li class="@Html.RouteIf("EstadisticasConsumoAreaReporte", "active")">
                                <a href="@Url.Action("EstadisticasConsumoAreaReporte", "Proveeduria")">Reportes por &aacute;rea con estad&iacute;sticas de consumo</a>
                            </li>
                            <li class="@Html.RouteIf("AlertaVencimientoReporte", "active")">
                                <a href="@Url.Action("AlertaVencimientoReporte", "Proveeduria")">Alertas de Vencimiento por cantidades m&iacute;nimas de los suministros</a>
                            </li>
                            <li class="@Html.RouteIf("ConsolidadoInventarioReporte", "active")">
                                <a href="@Url.Action("ConsolidadoInventarioReporte", "Proveeduria")">Reporte consolidado de inventario para sucursales e individuales</a>
                            </li>
                            <li class="@Html.RouteIf("ConsolidadoSolicitudReporte", "active")">
                                <a href="@Url.Action("ConsolidadoSolicitudReporte", "Proveeduria")">Reporte consolidado de solicitudes para sucursales e individuales</a>
                            </li>
                            <li class="@Html.RouteIf("MinMaxReporte", "active")">
                                <a href="@Url.Action("MinMaxReporte", "ActivoFijo")">Registros de M&iacute;nimos y M&aacute;ximos</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>*@

    @{ await Html.RenderPartialAsync("_Menu"); }
</aside>