@model List<bd.webapprm.entidades.Subramo>

<div id="content">
    <p>
        <a asp-action="Create" class="btn btn-primary">Nuevo Subramo</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Subramos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdRamo)
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ramo.Nombre)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.IdSubramo }) |
                                                <a href="javascript:void(0);" id="@item.IdSubramo" onclick="abrirVentanaConfirmacion('@item.IdSubramo')" data-url="@Url.Action("Delete", values: new { id = item.IdSubramo })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar el Subramo... ?">Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.min.js'></script>
}
