@model List<bd.webapprm.entidades.Articulo>

@{
    ViewData["Title"] = "Artículo";
}

<div id="content">
    <p>
        <a asp-action="Create" class="btn btn-success">Nuevo Art&iacute;culo</a>
    </p>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Art&iacute;culos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Sub Clase Art&iacute;culo
                                        </th>
                                        <th>
                                            Unidad de Medida
                                        </th>
                                        <th>
                                            Modelo
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.SubClaseArticulo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnidadMedida.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Modelo.Nombre)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.IdArticulo }) |
                                                <a href="javascript:void(0);" id="@item.IdArticulo" onclick="abrirVentanaConfirmacion('@item.IdArticulo')" data-url="@Url.Action("Delete", values: new { id = item.IdArticulo })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar el Art&iacute;culo... ?">Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}
