@model RequerimientoArticulos

<table id="dt_basic" class="table table-hover" style="width:100%;">
    <tbody style="background:#f5f5f5 !important;">
        <tr>
            <td colspan="7" class="text-center noBorder"><b>CABECERA</b></td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.CodigoPedido)</b></td>
            <td colspan="6">@Html.DisplayFor(m => m.CodigoPedido)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.FuncionarioSolicitante.Dependencia.IdSucursal)</b></td>
            <td colspan="6">@Html.DisplayFor(m => m.FuncionarioSolicitante.Dependencia.Sucursal.Nombre)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.FuncionarioSolicitante.IdDependencia)</b></td>
            <td colspan="6">@Html.DisplayFor(m => m.FuncionarioSolicitante.Dependencia.Nombre)</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.IdFuncionarioSolicitante)</b></td>
            <td colspan="6">@{await ViewContext.Writer.WriteAsync($"{Model.FuncionarioSolicitante.Persona.Nombres} {Model.FuncionarioSolicitante.Persona.Apellidos}");}</td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.FechaSolicitud)</b></td>
            <td colspan="6">@Html.DisplayFor(m => m.FechaSolicitud)</td>
        </tr>

        @{
            if (Model.Estado.Nombre == Estados.Desaprobado || Model.Estado.Nombre == Estados.Despachado)
            {
                <tr>
                    <td><b>@Html.DisplayNameFor(model => model.FechaAprobadoDenegado)</b></td>
                    <td colspan="6">@Html.DisplayFor(m => m.FechaAprobadoDenegado)</td>
                </tr>
            }
        }

        <tr>
            <td colspan="7" class="noBorder">&nbsp;</td>
        </tr>

        <tr>
            <td colspan="7" class="text-center noBorder"><b>DETALLES</b></td>
        </tr>

        <tr>
            <td><b>@Html.DisplayNameFor(model => model.RequerimientosArticulosDetalles.FirstOrDefault().MaestroArticuloSucursal.CodigoArticulo)</b></td>
            <td><b>@Html.DisplayNameFor(model => model.RequerimientosArticulosDetalles.FirstOrDefault().MaestroArticuloSucursal.Articulo.Nombre)</b></td>
            <td><b>@Html.DisplayNameFor(model => model.RequerimientosArticulosDetalles.FirstOrDefault().CantidadSolicitada)</b></td>
            @{
                if (Model.Estado.Nombre == Estados.Despachado)
                {
                    <td><b>@Html.DisplayNameFor(model => model.RequerimientosArticulosDetalles.FirstOrDefault().CantidadAprobada)</b></td>
                    <td><b>@Html.DisplayNameFor(model => model.RequerimientosArticulosDetalles.FirstOrDefault().CantidadEntregada)</b></td>
                }
            }
            <td><b>@Html.DisplayNameFor(model => model.RequerimientosArticulosDetalles.FirstOrDefault().ValorActual)</b></td>
            <td><b>Subtotal</b></td>
        </tr>

        @{
            decimal total = 0;
            foreach (var item in Model.RequerimientosArticulosDetalles)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.MaestroArticuloSucursal.CodigoArticulo)</td>
                    <td>@Html.DisplayFor(m => item.MaestroArticuloSucursal.Articulo.Nombre)</td>
                    <td>@Html.DisplayFor(m => item.CantidadSolicitada)</td>
                    @{
                        if (Model.Estado.Nombre == Estados.Despachado)
                        {
                            <td>@Html.DisplayFor(m => item.CantidadAprobada)</td>
                            <td>@Html.DisplayFor(m => item.CantidadEntregada)</td>
                        }
                    }
                    <td>
                        @{
                            int cantidad = Model.Estado.Nombre == Estados.Solicitado ? item.CantidadSolicitada : item.CantidadEntregada;
                            var subtotal = cantidad * item.ValorActual;
                            await ViewContext.Writer.WriteAsync(subtotal.ToString("C2"));
                            total += subtotal;
                        }
                    </td>
                    <td>@Html.DisplayFor(m => item.ValorActual)</td>
                </tr>
            }
        }

        @{ 
            int colspan = Model.Estado.Nombre == Estados.Solicitado ? 3 : 5;
            <tr>
                <td colspan="@String.Format("{0}", colspan)" class="noBorder"></td>
                <td class="noBorder" style="background:#e2dede !important;"><b>@{await ViewContext.Writer.WriteAsync(Model.RequerimientosArticulosDetalles.Sum(c => c.ValorActual).ToString("C2"));}</b></td>
                <td class="noBorder" style="background:#e2dede !important;"><b>@{await ViewContext.Writer.WriteAsync(total.ToString("C2"));}</b></td>
            </tr>
        }
    </tbody>
</table>