@model List<OrdenCompra>
@{ 
    bool isVistaReporte = ViewBag.IsVistaReporte ?? false;
    string estado = ViewBag.Estado;
    string nombreTabla = "dt_basic";
}

<div class="table-responsive">
    <table id="@nombreTabla" class="table table-striped table-bordered table-hover" style="width:100%;">
        <thead>
            <tr>
                @{ await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 9);}
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Bodega.IdSucursal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdBodega)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdMotivoRecepcionArticulos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdEmpleadoDevolucion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().IdProveedor)
                </th>
                <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.fechaRecepcion)">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Factura.NumeroFactura)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bodega.Sucursal.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bodega.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotivoRecepcionArticulos.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @{await ViewContext.Writer.WriteAsync(item.EmpleadoDevolucion != null ? $"{item.EmpleadoDevolucion.Persona.Nombres} {item.EmpleadoDevolucion.Persona.Apellidos}" : "-");}
                    </td>
                    <td>
                        @{await ViewContext.Writer.WriteAsync(item.Proveedor != null ? item.Proveedor.RazonSocial : "-");}
                    </td>
                    <td id="@String.Format("{0}{1}{2}", nombreTabla, item.IdOrdenCompra, ThClassName.fechaRecepcion)">
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Factura.NumeroFactura)
                    </td>
                    <td>
                        <a asp-action="DetallesOrdenCompraEnTramite" asp-route-id="@item.IdOrdenCompra">Detalles</a>
                        @{
                            if (estado == Estados.EnTramite)
                            {
                                <span> | </span>
                                <a asp-action="GestionarOrdenCompraEnTramite" asp-route-id="@item.IdOrdenCompra">Editar</a><span> | </span>
                                <a href="javascript:void(0);" id="@item.IdOrdenCompra" onclick="abrirVentanaConfirmacion('@item.IdOrdenCompra')" data-url="@Url.Action("ProcesarOrdenCompra", values: new { id = item.IdOrdenCompra })" data-titulo="Procesar" data-descripcion="&#191;Desea procesar la Orden de compra... ?">Procesar</a>
                                <a href="javascript:void(0);" id="@item.IdOrdenCompra" onclick="abrirVentanaConfirmacion('@item.IdOrdenCompra')" data-url="@Url.Action("DeleteOrdenCompraEnTramite", values: new { id = item.IdOrdenCompra })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar la Orden de compra... ?">Eliminar</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>