@model SalidaArticulos
@inject bd.webapprm.servicios.Interfaces.IClaimsTransfer claimsTransfer
@{
    var claimTransfer = claimsTransfer.ObtenerClaimsTransferHttpContext();
    var requerimientoArticulos = ViewData["RequerimientoArticulos"] as RequerimientoArticulos;
}

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Requerimiento de Art&iacute;culos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="DespacharRequerimiento" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" id="IdSucursal" value="@claimTransfer.IdSucursal" />
                                <input type="hidden" asp-for="IdRequerimientoArticulos" value="@requerimientoArticulos.IdRequerimientoArticulos" />
                                <input type="hidden" id="FuncionarioSolicitante_IdDependencia" name="FuncionarioSolicitante_IdDependencia" value="@requerimientoArticulos.FuncionarioSolicitante.IdDependencia" />
                                <input type="hidden" id="MotSalida" name="MotSalida" />
                                <fieldset>
                                    <legend>Datos generales</legend>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdMotivoSalidaArticulos"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="IdMotivoSalidaArticulos" class="form-control" asp-items="ViewBag.MotivoSalidaArticulos"></select>
                                                <span asp-validation-for="IdMotivoSalidaArticulos" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="DescripcionMotivo"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <textarea asp-for="DescripcionMotivo" class="form-control paddingTextArea98"></textarea>
                                                <span asp-validation-for="DescripcionMotivo" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <legend id="legendDetallesProveedor" class="hide">Detalles del Proveedor al que se realiza la devoluci&oacute;n</legend>
                                    <div id="divDetallesProveedor" class="margin-top-25 hide"></div>

                                    <legend id="legendDetallesEmpleadoDevolucion" class="hide">Empleado al que se realiza el despacho o la baja de art&iacute;culos</legend>
                                    <div id="divDetallesEmpleadoDevolucion" class="margin-top-25 hide"></div>

                                    <div class="row padding-right-10 padding-left-10 margin-top-10">
                                        <div class="alert alert-info alert-block" style="border-left-width:5px !important;padding-left:20px !important;">
                                            <h4 class="alert-heading">Informaci&oacute;n</h4>
                                            Si desea editar el requerimiento, b&uacute;squelo en <b>Requerimiento solicitados</b> y haga clic en la opci&oacute;n <b>Editar</b> del listado.
                                        </div>
                                    </div>

                                    <legend>Detalles de requerimiento de art&iacute;culos</legend>
                                    <div class="margin-top-25">
                                        @{await Html.RenderPartialAsync("_DetallesRequerimientoArticulos", requerimientoArticulos);}
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="button" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="ListadoRequerimientosSolicitados" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/proveeduria/despacharRequerimiento.min.js"></script>
    <script>
        var proveedorSelectResult = "@Url.Action("ProveedorSelectResult")";
        var urlEmpleadoDevolucionSelectResult = "@Url.Action("EmpleadoDevolucionSelectResult")";
        var bodegaExisteResult = "@Url.Action("BodegaExisteResult")";
        var dependenciaRequerimiento = "@requerimientoArticulos.FuncionarioSolicitante.Dependencia.Nombre";
    </script>
}