@model bd.webapprm.entidades.RecepcionArticulos
@{
    //List<bd.webapprm.entidades.Factura> listadoTablaFacturas = new List<bd.webapprm.entidades.Factura>();
    //listadoTablaFacturas = ViewBag.tablaFacturas;

    //List<bd.webapprm.entidades.Factura> listadoTablaFacturasSeleccionadas = new List<bd.webapprm.entidades.Factura>();
    //listadoTablaFacturasSeleccionadas = ViewBag.ListadoFacturasSeleccionadas;
}

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Formulario de Altas a Art&iacute;culos de Proveedur&iacute;as</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="AprobarAltaArticulo" controller="Proveeduria" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <input type="hidden" asp-for="IdArticulo" />
                                    <input type="hidden" asp-for="IdProveedor" />
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Articulo.Nombre">Art&iacute;culo</label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="Articulo.Nombre" class="form-control" disabled />
                                                <span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Proveedor.Nombre">Nombre (Proveedor)</label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="Proveedor.Nombre" class="form-control" disabled />
                                                <span asp-validation-for="Proveedor.Nombre" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Proveedor.Apellidos">Apellidos (Proveedor)</label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="Proveedor.Apellidos" class="form-control" disabled />
                                                <span asp-validation-for="Proveedor.Apellidos" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label class="label">Acreditar por</label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select id="acreditacion" name="acreditacion" asp-items="ViewBag.Acreditacion" class="form-control"></select>
                                            </label>
                                        </section>
                                    </div>

                                    <div id="camposFactura">
                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Seleccionar Facturas</label>
                                            </section>

                                            <section class="col col-8" id="facturasExluidas">
                                                @*@Html.Partial("_FacturasExcluidas")*@
                                            </section>
                                        </div>

                                        <div class="row">
                                            <section class="col col-4">
                                                <label class="label">Facturas incluidas en el Alta</label>
                                            </section>

                                            <section class="col col-8" id="facturasIncluidas">
                                                @*@Html.Partial("_FacturasIncluidas")*@
                                            </section>
                                        </div>

                                    </div>

                                    <div class="row hide" id="divDocumentos">
                                        <section class="col col-4">
                                            <label class="label">Documentos de Acreditaci&oacute;n</label>
                                        </section>

                                        <section class="col col-8">
                                            <div class="input input-file">
                                                <span class="button"><input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Seleccionar</span><input type="text" placeholder="Seleccionar alg&uacute;n fichero" readonly="">
                                            </div>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/proveeduria/formularioAltaArticulo.min.js"></script>
    <script>
        var urlCargarTablaFacturasExcluidas = "@Url.Action("CargarTablaFacturasExcluidas", "Proveeduria")";
        var urlCargarTablaFacturasIncluidas = "@Url.Action("CargarTablaFacturasIncluidas", "Proveeduria")";
        var urlRefrescarTablaExcluidos = "@Url.Action("RefrescarTablaExcluidos", "Proveeduria")";
        var urlIncluirFacturasEnAlta = "@Url.Action("IncluirFacturasEnAlta", "Proveeduria")";
        var urlRefrescarTablaIncluidos = "@Url.Action("RefrescarTablaIncluidos", "Proveeduria")";
        var urlExcluirFacturasEnAlta = "@Url.Action("ExcluirFacturasEnAlta", "Proveeduria")";
    </script>
}