@model List<AjusteInventarioArticulos>
@{
    var nombreTabla = "dt_basic";
}

<div id="content">
    <p>
        <a asp-action="AjustarInventario" class="btn btn-primary">Ajustar inventario de art&iacute;culos</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Ajustes de inventario de art&iacute;culos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="@nombreTabla" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        @{ await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 6);}
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.sucursal)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Bodega.IdSucursal)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.bodega)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdBodega)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.motivoAlta)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Motivo)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.fechaAlta)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Fecha)
                                        </th>
                                        <th id="@String.Format("th{0}{1}", nombreTabla, ThClassName.empleado)">
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdEmpleadoAutoriza)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Bodega.Sucursal.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Bodega.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Motivo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Fecha)
                                            </td>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.EmpleadoAutoriza.Persona.Nombres} {item.EmpleadoAutoriza.Persona.Apellidos}");}
                                            </td>
                                            <td>
                                                @Html.ActionLink("Detalles", "DetallesAjusteInventario", new { id = item.IdAjusteInventario })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/listadoAgrupacion.min.js"></script>
}