@model List<RequerimientoArticulos>
@inject bd.webapprm.servicios.Interfaces.IClaimsTransfer claimsTransfer
@{
    var claimTransfer = claimsTransfer.ObtenerClaimsTransferHttpContext();
    string estado = ViewBag.Estado;
    bool isAdminZonalProveeduria = claimsTransfer.IsADMIGrupo(ADMI_Grupos.AdminZonalProveeduria);
    bool isAdminNacionalProveeduria = claimsTransfer.IsADMIGrupo(ADMI_Grupos.AdminNacionalProveeduria);
}
<div id="content">
    @{
        if (estado == Estados.Solicitado && claimsTransfer.IsADMIGrupo(ADMI_Grupos.FuncionarioSolicitante))
        {
            <p>
                <a asp-action="GestionarRequerimiento" class="btn btn-primary">Nuevo Requerimiento de Art&iacute;culos</a>
            </p>
        }
    }
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Listado de Requerimientos de Art&iacute;culos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        @{ await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", estado == Estados.Desaprobado || estado == Estados.Despachado ? 7 : 6);}
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FuncionarioSolicitante.Dependencia.IdSucursal)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FuncionarioSolicitante.IdDependencia)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdFuncionarioSolicitante)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().FechaSolicitud)
                                        </th>
                                        @{
                                            if (estado == Estados.Desaprobado || estado == Estados.Despachado)
                                            {
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FirstOrDefault().FechaAprobadoDenegado)
                                                </th>
                                            }
                                        }
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Observaciones)
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FuncionarioSolicitante.Dependencia.Sucursal.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FuncionarioSolicitante.Dependencia.Nombre)
                                            </td>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync($"{item.FuncionarioSolicitante.Persona.Nombres} {item.FuncionarioSolicitante.Persona.Apellidos}");}
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaSolicitud)
                                            </td>
                                            @{
                                                if (estado == Estados.Desaprobado || estado == Estados.Despachado)
                                                {
                                                    <th>
                                                        @Html.DisplayFor(modelItem => item.FechaAprobadoDenegado)
                                                    </th>
                                                }
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Observaciones)
                                            </td>
                                            <td>
                                                <a asp-action="DetallesRequerimientoArticulos" asp-route-id="@item.IdRequerimientoArticulos">Detalles</a>
                                                @{
                                                    if (estado == Estados.Solicitado)
                                                    {
                                                        <span> | </span>
                                                        <a asp-action="GestionarRequerimiento" asp-route-id="@item.IdRequerimientoArticulos">Editar</a>
                                                        
                                                        if (isAdminZonalProveeduria || isAdminNacionalProveeduria)
                                                        {
                                                            <span> | </span>
                                                            <a asp-action="DespacharRequerimiento" asp-route-id="@item.IdRequerimientoArticulos">Despachar</a><span> | </span>
                                                            <a href="javascript:void(0);" id="@item.IdRequerimientoArticulos" onclick="abrirVentanaConfirmacion('@item.IdRequerimientoArticulos')" data-url="@Url.Action("DenegarRequerimiento", values: new { id = item.IdRequerimientoArticulos })" data-titulo="Denegar requerimiento" data-descripcion="&#191;Desea denegar el Requerimiento de art&iacute;culos... ?">Denegar</a>
                                                        }

                                                        <span> | </span>
                                                        <a href="javascript:void(0);" id="@item.IdRequerimientoArticulos" onclick="abrirVentanaConfirmacion('@item.IdRequerimientoArticulos')" data-url="@Url.Action("DeleteRequerimiento", values: new { id = item.IdRequerimientoArticulos })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar el Requerimiento de art&iacute;culos... ?">Eliminar</a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
}