@model List<OrdenCompra>

@{ 
    string estado = ViewBag.Estado;
}
<div id="content">
    @{
        if (estado == Estados.EnTramite)
        {
            <p>
                <a asp-action="GestionarOrdenCompraEnTramite" class="btn btn-primary">Nueva orden de compra</a>
            </p>
        }
    }
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>&Oacute;rdenes de compra</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        @{ await Html.RenderPartialAsync("~/Views/Shared/_VistaFiltradoText.cshtml", 9);}
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Bodega.IdSucursal)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdBodega)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdMotivoRecepcionArticulos)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Codigo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdEmpleadoDevolucion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().IdProveedor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Fecha)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Factura.NumeroFactura)
                                        </th>
                                        <th>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Bodega.Sucursal.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Bodega.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MotivoRecepcionArticulos.Descripcion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Codigo)
                                            </td>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync(item.EmpleadoDevolucion != null ? $"{item.EmpleadoDevolucion.Persona.Nombres} {item.EmpleadoDevolucion.Persona.Apellidos}" : "-");}
                                            </td>
                                            <td>
                                                @{await ViewContext.Writer.WriteAsync(item.Proveedor != null ? item.Proveedor.RazonSocial : "-");}
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Fecha)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Factura.NumeroFactura)
                                            </td>
                                            <td>
                                                <a asp-action="DetallesOrdenCompraEnTramite" asp-route-id="@item.IdOrdenCompra">Detalles</a>
                                                @{ 
                                                    if (estado == Estados.EnTramite)
                                                    {
                                                        <span> | </span>
                                                        <a asp-action="GestionarOrdenCompraEnTramite" asp-route-id="@item.IdOrdenCompra">Editar</a><span> | </span>
                                                        <a href="javascript:void(0);" id="@item.IdOrdenCompra" onclick="abrirVentanaConfirmacion('@item.IdOrdenCompra')" data-url="@Url.Action("ProcesarOrdenCompra", values: new { id = item.IdOrdenCompra })" data-titulo="Procesar" data-descripcion="&#191;Desea procesar la Orden de compra... ?">Procesar</a>
                                                        <a href="javascript:void(0);" id="@item.IdOrdenCompra" onclick="abrirVentanaConfirmacion('@item.IdOrdenCompra')" data-url="@Url.Action("DeleteOrdenCompraEnTramite", values: new { id = item.IdOrdenCompra })" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar la Orden de compra... ?">Eliminar</a>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
}