@model List<bd.webapprm.entidades.RecepcionArticulos>

<div id="content">
    <p>
        <a asp-action="Recepcion" class="btn btn-success">Nueva Recepci&oacute;n</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Art&iacute;culos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Tipo Art&iacute;culo
                                        </th>
                                        <th>
                                            Clase Art&iacute;culo
                                        </th>
                                        <th>
                                            Subclase Art&iacute;culo
                                        </th>
                                        <th>
                                            Art&iacute;culo
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Cantidad
                                        </th>
                                        <th>
                                            Proveedor
                                        </th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Articulo.SubClaseArticulo.ClaseArticulo.TipoArticulo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Articulo.SubClaseArticulo.ClaseArticulo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Articulo.SubClaseArticulo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Articulo.Nombre)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Fecha)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cantidad)
                                            </td>

                                            <td>
                                                @{ await ViewContext.Writer.WriteAsync(String.Format("{0} {1}", item.Proveedor.Nombre, item.Proveedor.Apellidos)); }
                                            </td>

                                            <td>
                                                @Html.ActionLink("Editar", "EditarRecepcion", new { id = item.IdRecepcionArticulos })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.js'></script>
}
