@model List<bd.webapprm.entidades.MotivoBaja>

<div id="content">
    <p>
        <a asp-action="Create" class="btn btn-success"> Nuevo Motivo de Baja </a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Motivo de Baja Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                       <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.IdMotivoBaja}) |
                                                <a href="javascript:void(0);" id="@item.IdMotivoBaja" onclick="abrirVentanaConfirmacion('@item.IdMotivoBaja')" data-url="@Url.Action("Delete", values: new { id = item.IdMotivoBaja})" data-titulo="Eliminar" data-descripcion="&#191;Desea eliminar el Motivo de Baja... ?">Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/init.min.js'></script>
}